[2019-02-21 14:28] philipwofford opened #2 "links to build.ge"
there are links to build.ge github

[2019-02-21 14:30] philipwofford commented on #2
Sorry, having a hard time referencing: https://github.com/Enterprise-connect/ec-x-sdk/blob/v1beta/README.md

it's the line that says 'see our internal....'

[2019-02-22 03:39] ayasuda2003 commented on #2
Need more context.. is this usage document no longer maintained? https://github.com/Enterprise-connect/documentation

[2019-02-22 12:57] philipwofford commented on #2
Sorry, Chia, I meant this line:

It contains a link to build.ge from gitbhub.com

[2019-03-21 19:08] sheshankgujjari opened #4 "EC Gateway logs doesnt show the correct information on super connection"
Super connection is available, however the gateway logs shows the connection is not available.

It would be nice if it would have said tha super connection is established but the agentids or groupId is misconfigured

Gateway Health: https://power-prod-ec-gateway.run.aws-usw02-pr.ice.predix.io/health

    2019-03-21T14:55:28.13-0400 [APP/PROC/WEB/1] OUT  [EC Gateway] 2019/03/21 18:55:28 [github.bui

[2019-09-27 20:11] palokam opened #5 "Bug: EC server health and super connection exists but connectivity breaks"
[EC Server] 2019/09/27 12:48:27 [gateway connection{host=wss://capital-preprod-ec-gateway.run.aws-usw02-pr.ice.predix.io/agent, session=9AXjuhf9xg,gatewayId=dd058d65-56bb-4fa2-bb7c-f365f16f9b41} established for client# Huzils with bindId#YvNk2g7TPf, to VLAN address: 127.0.0.1:7987 if -vln is enabled.]
 [EC Server] 2019/09/27 12:48:27 [websocket is found in the pool for clientId#Huzils]
 [EC Server

[2019-09-27 20:24] ayasuda2OO3 commented on #5
This indicates the resource is unreach-able or unexpectedly exist the connection. The concept of agent usage will soon be replaced by watcher in the next several releases.

[2019-09-28 16:10] ayasuda2OO3 commented on #5
In some cases when deploy an agent in Cloud Foundry, the healthcheck endpoint would persist the last connectivity information throughout a idling period (months) until a next agent restarts/re-launch. Update this issue to an logging enhancement.

[2019-09-28 16:15] ayasuda2OO3 commented on #2
close this issue as it irrelevant to external users.

[2019-09-28 16:15] #2 closed

[2019-09-28 23:32] palokam opened #6 "Documentation: Provide a document to test connectivity"
Provide a document to test the connectivity between agents e.g. file transfers etc - This will help people be able to test the connectivity with the need for accessing the resources ID/password

[2019-09-28 23:36] palokam opened #7 "Scripts: Provide an easy way to generate all scripts required for EC connectivity (GW , Server, Client) with a simple bash/python script"
Provide a Bash/Python script to generate the standard scripts after service creation to make it easy for customer to adapt EC

[2019-10-01 12:55] ayasuda2OO3 opened #8 "- Usage Validation Enhancement"
Current validation process is painfully long.

Create a background validation process to 1) fetch the group information 2) persist the group information in memory.

[2019-10-02 12:07] palokam commented on #8
- This will also help the connectivity issues, when  any EC service intermittent issues in CF or network communication issues with the internet from EC Gateway. #ECgateway

- #ECGW need an additional cache to verify is UAA token validation results came from previous EC service call to verify JWT Token from  #ECClient and #ECServer - This will help validate speed up the process and any UAA connecti

[2019-10-04 00:38] palokam opened #9 "EC Server TLS plug-in loading is not correct"
Couple of scenarios

1) When EC server loading for the first time it should check for success of all plug-ins and log that message correctly into EC server logs - when TLS plugin have issues it is still logging a successful TLS plug-in loading message.
     **Steps to reproduce**: Load TLS normally, Kill EC Server process, then TLS process will remain there for some time, when you restart EC Serve

[2019-10-05 15:31] palokam opened #10 "Issue: Windows CF Push does not work (unknown port error)"
**Issue:** Windows users experience issues for assigning dynamic port through cf push (GC gateway)

**Solution:**:
You may be  able to get a successful GW Agent connection by skipping bash entirely, and executing the Agent directly as the yml command. I suspect this is worthy of note as a work-around when ecagent gives an “unknown port” error while attempting to creating EC GW

---
applications:

[2019-10-05 15:31] #10 closed, assigned to ayasuda2OO3

[2019-10-05 15:31] palokam commented on #10
Thanks Daniel for the solution

[2019-10-07 21:24] palokam opened #11 "Documentation Missing: VLN Plug-in Flush"
**Issue:** Please Document a way to make sure VLN IPs are loaded/flushed from local loopback interface

**Solution:** : To check the list IPs that are loaded into 'lo' interface. Run the following command.

     ###  "sudo ip addr show"

1) To Flush the IPs loaded onto the 'lo' interface

    ###   "sudo ip addr flush dev lo"

2) Add 127.0.0.1 back loopback by this command

    ###   "sudo ip addr

[2019-10-07 21:25] palokam commented on #11
closing

[2019-10-07 21:25] #11 closed, assigned to nobody

[2019-10-08 16:41] ayasuda2OO3 opened #12 "Certificate Renewal but Why?!"
If the earlier certificate valid (April 1 2019 – September 30 2019) can work with all the EC versions, may I know, what is so special about this new certificate? As more than missing cert expiry timing, this new certificate caused more issues.

[2019-10-08 16:43] ayasuda2OO3 commented on #12
Thanks for the inquiry.

The chain of EC trust hierarchy (x509) is what internally make EC stand out as an invulnerable streaming channel in servicing network-to-network connectivity today.

Beginning #203+, agents have been forming a chain of trust by checking their issuer, expiration date, role, scope, licensing, etc, in a self-validity process, a technique which employees a series of RSA crypto

[2019-10-08 16:43] #12 closed, assigned to nobody

[2019-10-09 12:48] palokam opened #13 "Bug: Inability to run pprof in agents"
We are not able to run pprof with the agent in Client/Server/GW mode.
Provide documentation  on how to run this

[2019-10-09 23:43] ayasuda2OO3 opened #14 "Can the TLS plugin utilised for HTML Browsing?"
The TLS plugin may not be fitting as a HTTP Proxy for browsing purpose, specifically not for HTML asynchronous-loading. it was designed to simulate the HTTP channel based on one-request-one-response model.

Some usage reports that users are able to browse pages with single HTML file loading, however, the plugin is not responsible for translating any subsequent HTML linkage, which may graduate into

[2019-10-09 23:44] #14 closed, assigned to nobody

[2019-10-10 16:45] ayasuda2OO3 opened #15 "Failed in Restage/Restart Agents deployed in Predix Cloud Foundry CF1"
Some reports indicate as of today (Oct-10-2019) that when restarting agents, the Cloud Foundry would raise exception as following-

![thumbnail_image001](https://user-images.githubusercontent.com/552253/66587905-37e99500-eb40-11e9-8480-2463450cebd0.png)
![thumbnail_image002](https://user-images.githubusercontent.com/552253/66587906-37e99500-eb40-11e9-8526-cee1411cdbd8.png)

Our initial assessment

[2019-10-10 17:30] ramaraosrikakulapu commented on #15
Announcing the End-of-Life for cflinuxfs2 -
https://blog.anynines.com/announcing-the-end-of-life-for-cflinuxfs2/
Looks like we need to start using cflinuxfs3, but stack needs to be installed

[2019-10-10 17:50] ayasuda2OO3 commented on #15
@ramaraosrikakulapu thanks for the advice. should we tag someone from predix in this issue? it may require some upgrade. In the interim, can a servicepack downgrade resolves this issue temporally? @Gayatri212 @palokam @plake06

[2019-10-10 19:59] ayasuda2OO3 opened #16 "Connection requests may stuck with the client/gw:client mode when an unknown issue takes place"
A recent report indicates that whilst launch agent as the client mode, requestor app/software may become dormant when an unexpected exception received, resulting the request prematurely left the TCP->HTTP binding, subsequently immobilise the requestor.

[2019-10-11 12:59] ramaraosrikakulapu commented on #15
Predix support team had suggested to use "https://github.com/cloudfoundry/binary-buildpack.git#v1.0.32" buildpack in manifest. Ekansh had created the ticket INC0094107 in predix.io for the same and Ops team confirmed gateway app deployed fine.

[2019-10-11 12:59] #15 closed, assigned to ayasuda2OO3, ramaraosrikakulapu

[2019-10-11 18:54] ayasuda2OO3 commented on #16
The approach of such fix is for agent to forcibly remove TCP requests, thus the agent would intend to simulate the EOF from the resource to the requestor. A v1beta contains the fix will be released EoB today.

[2019-10-13 18:25] ayasuda2OO3 commented on #16
Fix attempt in [release candidate v1beta.fukuoka.1724](https://github.com/Enterprise-connect/ec-x-sdk/releases/tag/v1beta.fukuoka.1724) @palokam @Gayatri212 @ramaraosrikakulapu the int seems failing in cf3 due to [this predix uaa issue in cf3](https://github.com/Enterprise-connect/ec-x-sdk/issues/18)

[2019-10-14 00:04] palokam opened #17 "Idea: End to end health probe across EC Agent layers"
**Issue:**
There is NO quick Health Check to know complete communication between all Client-> Gateway -> Server agents

**Description:**
Typically EC Client only makes a call when the requester makes a call to the resource. But it has a potential to fail because of several reasons(network between client and EC Gateway or backend EC Server issues etc). This put all the burden of connectivity on the

[2019-10-14 01:13] ayasuda2OO3 opened #18 "x509 certificate issue from UAA in predix CF3"
Recent agent cloud foundry deployment indicated an invalid certificate from UAA in the Predix Cloud Fooundry instance (CF3)  that it has been causing failures in agent deployment.

![Screenshot from 2019-10-13 18-08-39](https://user-images.githubusercontent.com/552253/66725227-87e88600-ede4-11e9-802e-f0a42d07ad80.png)

Please contact https://www.predix.io/support/ @support group for further detail

[2019-10-14 19:08] ayasuda2OO3 commented on #16
fixed in [v1.hokkaido.212](https://github.com/Enterprise-connect/ec-x-sdk/releases/tag/v1.hokkaido.212) passed int test in predix cf1 Cloud Foundry environment. please confirm @ramaraosrikakulapu @palokam @Gayatri212

[2019-10-15 08:50] Harshada19 opened #19 "Jobs are getting stuck post v210 binaries upgrade on production"
Team has recently upgraded the libraries on below path and post that the jobs are getting stuck, team need to manually push the adhoc frequently.

Go\src\github.build.ge.com\BHGE-RealTrack\rt-dataIngestion-develop\ec-sdk

ecagent_linux_var
ecagent_darwin_var
ecagent_linux_sys

Services:
rt_bhge_dataloader_prod
rt-dataingestion-jobs_ONG

Kindly help us to address this issue.

Predix ticket raised:

[2019-10-15 13:28] ramaraosrikakulapu opened #20 "Gateway and server agents are not reachable after agent migration"
Gateway, server and client agents are migrated to new version (212). After migration, Gateway started giving the error "Superconn associated with server agent#XXXXX could not be found". Similarly server agent is unable to find the gateway app and showing empty glist.

[2019-10-15 13:29] ramaraosrikakulapu commented on #20
Problem solved by deploying the gateway app with different name. But suggested to delete the gateway app completely with routes and then do the deploy fresh gateway app with newer version agents."

[2019-10-15 13:29] #20 closed, assigned to ayasuda2OO3, ramaraosrikakulapu

[2019-10-15 14:47] palokam commented on #19
@Harshada19, Release 212 specifically address this issue with EC Client. We have found a bug on EC Client for long running connections.

I would you encourage start getting 212 in your development quickly.

[2019-10-15 14:55] ayasuda2OO3 commented on #19
Per @palokam the [newer release #212](https://github.com/Enterprise-connect/ec-x-sdk/releases/tag/v1.hokkaido.212) @Harshada19

[2019-10-15 19:41] ayasuda2OO3 opened #21 "Agent websocket compression negotiation failed in file transfer"
Usage reported by Simran (Simran- please provide your public github id) the websocket compression ```-cps``` setting failed during the file transfer.  Investigating the cause.

[2019-10-16 03:11] ayasuda2OO3 commented on #21
User reportedly used -cps 3 for the compression ratio setting and a 1.5Gb file got stuck at 270MB finish line.When -cps 0 (no compression) the file got transferred successfully in 1.5 hr.

Suggesting trial runs on ```-cps 1``` vs. ```-cps 9``` vs. ```-cps -2```
[code]

[2019-10-16 03:33] ayasuda2OO3 commented on #18
After two days it shows no trace of sort indicating no one at predix cf3 is concerned about the cloud foundry cf3 instance, it is decisive that we will further our development test bed without Predix in the next release.

[2019-11-20 16:39] ayasuda2OO3 opened #22 "- Make file transfer available in the gateway single mode"
Currently file transfer (FT) is only available to fuse mode topology. User requests the FT be available across all modes in the usage.

[2019-11-25 17:58] xiaoyan-huang-bhc3 opened #23 "Can't deploy gateway app to cloud"
Hi Support Team,

When I try to push the gateway app with the latest release hokkaido.212, it through the following errors.

Is hokkaido.212 not compatible with our EC service?

Any help would be really appreciated!

[2019-11-25 18:50] ayasuda2OO3 commented on #23
Thanks for raising the issue here, this helps us to build a better and reusable kb. @crysxyh.

EC services relevant to GE Digital's cloud foundry predix CF1 were all up-to-date. Additionally, the usage flags has been updated following [the announcement of the 203+ releases](https://github.com/Enterprise-connect/ec-x-sdk/releases/tag/v1.hokkaido.203) the flag ```-lpt``` has been deprecated whereas

[2019-11-25 19:09] xiaoyan-huang-bhc3 commented on #23
Thanks @ayasuda2003!
This is my gateway configuration.
`#!/bin/bash
./ecagent_linux_sys -mod "gateway" -lpt "${PORT}" -zon "zone_id_here" -sst "https://zone_id_here.run.aws-usw02-pr.ice.predix.io" -tkn "token_here" -dbg`

This is my server configuration.
`./ecagent_linux_sys -mod "server" -grp "zone_id_here" -zon "zone_id_here" -sst "https://zone_id_here.run.aws-usw02-pr.ice.predix.io" -aid "zXHRH

[2019-11-25 19:11] ayasuda2OO3 commented on #23
Yes.

[2019-11-25 19:26] xiaoyan-huang-bhc3 commented on #23
Thanks a lot!  It works.

[2019-11-25 19:26] #23 closed, assigned to ayasuda2OO3

[2019-11-26 20:24] rishisoni25 opened #24 "Could not able to make EC connection with beta agent"
We were using beta 1676 agent version for making VLAN connection and could not able to make it connection successful.

[2019-11-26 20:29] ramaraosrikakulapu commented on #24
Thank you @rishisoni25 for raising the issue.

We recommend to use the latest version 1724 for testing the VLAN connection in beta environment.

[2019-11-26 20:30] ayasuda2OO3 commented on #24
Thanks for raising the issue. @rishisoni25

Please specify **the use case detail, client/server tool, resources, and screenshots** if needed.

[2019-11-27 12:35] AakritiTalwar12 opened #25 "FDM POC EC connection Issue"
We are trying to connect to an onprem Oracle DB using a common setup used for many oracle connections.While connecting its giving an "EOF while reading from the gateway" and closed network connection.

Steps taken till Now:

1. Checked the VLAN plugin and it is working fine.
2. The target IPs are being added to the local loopback

As seen till now the target server is rejecting the connection.

[2019-11-27 13:59] ayasuda2OO3 commented on #25
Thanks for track the issue. Could you share the logs on both server and client during the connectivity? @AakritiTalwar12

[2019-11-27 14:06] #24 closed, assigned to ayasuda2OO3, ramaraosrikakulapu

[2019-12-03 23:30] xiaoyan-huang-bhc3 opened #27 "Can't start EC client after pushing gateway and server"
Hi Support Team,

We tried to configure the gateway, server and client for a new Enterprise Connect service.  We have followed the latest documentations (https://enterprise-connect.github.io/documentation/docs/agents.html).

Here is the configuration with quotes.

Gateway Script
[code]

Server Script
[code]

Client Script
[code]

Predix support suggests us to try configurations without quotes but

[2019-12-04 00:00] ayasuda2OO3 commented on #27
Thanks for raising the issue in the kb. @crysxyh

[This document is outdated](https://enterprise-connect.github.io/documentation/docs/agents.html). Please refer to [the internal agent repo](https://github.build.ge.com/Enterprise-Connect/agent/blob/v1.1beta/README.md) for the usage.

Beginning the [#203 release](https://github.com/Enterprise-connect/ec-x-sdk/releases/tag/v1.hokkaido.203), the ```-h

[2019-12-04 05:32] xiaoyan-huang-bhc3 commented on #27
Thanks @ayasuda2003 !  I have followed the examples you provided.  Looks like the group id is missing in both client and server.  I added it by myself.  However, still have the same error.

Gateway Script
[code]

Server Script
[code]

Client Script
[code]
ERROR
[code]

[2019-12-04 07:23] Gayatri212 commented on #27
@crysxyh Looks like you are using zone-id for -grp flag. Please change it with the group_id from service VCAP and let us know.

[2019-12-04 09:03] AakritiTalwar12 commented on #25
PLs find the screenshots for logs below
![Screenshot (9)](https://user-images.githubusercontent.com/58229454/70128524-02c27480-16a3-11ea-8bcd-acb283349924.png)

![Screenshot (8)](https://user-images.githubusercontent.com/58229454/70128529-048c3800-16a3-11ea-9707-f814aad7a9ee.png)
![Screenshot (7)](https://user-images.githubusercontent.com/58229454/70128534-06ee9200-16a3-11ea-8d04-de92eaea4a01.png)

[2019-12-04 11:14] Gayatri212 commented on #25
@AakritiTalwar12 can you share the server script?
The logs are showing undefined gateway name I guess some error is there in hst flag

[2019-12-04 11:52] Gayatri212 commented on #25
@AakritiTalwar12 I also checked the gateway health there is no superconnection

[2019-12-04 14:23] AakritiTalwar12 opened #28 "Custom DB EC connection issue on IBS TC instance"
We are trying to connect an oracle DB via EC where the client agent is running on IBS TC instance and server agent is running on Dev CCL servers.

We are trying to hit EC port 8495 from the TC instance on the same machine where EC client is running but getting nothing in the logs.

We have got port 8495 open from the infra team and are able to telnet it.
When we telnet to the port we are getting a

[2019-12-04 16:14] xiaoyan-huang-bhc3 commented on #27
@Gayatri212 , thanks for your help!  If you don't mind, can you also update the docs?  It doesn't have grp in the server and client examples.  Also, I have a quick question on the two Enterprise Connect Services we have.  They don't have the same VCAP.  Are they different versions of Services?  We tried to copy the same configuration from the existing EC.  However, one works, the other one fails.

[2019-12-04 16:16] ayasuda2OO3 commented on #28
@AakritiTalwar12 Thanks for the kb. Could you share the output for running ```ip address``` on the host?

[2019-12-04 16:39] ayasuda2OO3 commented on #27
@crysxyh Thanks for the feedback. Please use [this internal document](https://github.build.ge.com/Enterprise-Connect/agent/blob/v1.1beta/README.md#client) for now as we are to publish with a format in the future. This is WIP.

The services/subscriptions in Cloud Foundry follow the Single-Tenant model, meaning the settings cannot be re-used across different services. Sorry for the confusion and hop

[2019-12-04 17:08] xiaoyan-huang-bhc3 commented on #27
@ayasuda2003 , I total understood the Single-Tenant mode.  I mean the same configuration format doesn't work for the new EC service.  I noticed the messages after starting client are different.  Just want to confirm if the EC services are different versions.

**This is the EC client starting message of project 1, which indicates the version is Rev: v1.hokkaido.206.**
[code]

**This is for project

[2019-12-04 18:02] ayasuda2OO3 commented on #27
@crysxyh Yes you are absolutely correct. There was an enhancement in the CF broker side. The enhancement was to address **a security setback in the CF service by randomising the default grouping information in the VCAP, previously known as zone-id**. Thus, it made the group id relevant only to the subscriber.and harder to compromise by an attacker. The agent usage should be compatible with binarie

[2019-12-04 23:03] ayasuda2OO3 commented on #27
Close the issue. Thanks for the feedback and please re-open it if needed. @crysxyh

@Gayatri212 All well documented thanks for the findings.

[2019-12-04 23:03] #27 closed, assigned to ayasuda2OO3, Gayatri212

[2019-12-05 14:07] ayasuda2OO3 commented on #28
@AakritiTalwar12 @Gayatri212 I understand that the host port#**8493** is visible to the nifi container wherein the port#**8495** is not according to Gayatri. Please confirm this still the case..

[2019-12-05 15:57] ayasuda2OO3 commented on #28
![Draft - Page 31](https://user-images.githubusercontent.com/552253/70252298-0f43dd00-1736-11ea-941d-763ea0c6c1ab.jpeg)
#### Please follow the steps below, and provide the output.
Gayatri will follow up with you for the steps if you have any questions. @Gayatri212 @AakritiTalwar12

##### Troubleshoot Step:
1) ssh to the host
2) telnet localhost 8493 (works!)
3) telnet localhost 8495 (works)
4) tel

[2019-12-05 16:23] ayasuda2OO3 commented on #25
In my discussion w/ Gayatri, it seems the superconn does exist in this vlan deployment.

In the use case with the vlan, we need to ensure the ip/port relevant to the target machine is avaialble. Please verify if the address ```3.34.218.30:1612``` is reachable from within the host where the server agent is deployed. This is confirmed reachable by Gayatri.

Secondly, please share **the gateway logs

[2019-12-05 20:38] ayasuda2OO3 opened #29 "- How to run Agent in AWS HA"
How to deploy [the latest gateway agent #212](https://github.com/Enterprise-connect/ec-x-sdk/releases/tag/v1.hokkaido.212) to a AWS EC2 to achieve HA (High-Availability)? What are the steps/instruction.

[2019-12-06 13:22] Gayatri212 commented on #28
@ayasuda2003 We tried the curl command from TC container and it's working for port#**8493** but not for #**8495**. So we also tried some alternate ports like **8000** to test if it works with those but even for these ports the curl command is not working we are getting
**Failed to connect to 10.0.0.4 port 8495: No route to host**

We suggested to contact to the team who did setup and configuration

[2019-12-06 15:15] vrp0000 commented on #25
I did both telnet and ping from the CCL server and got the below result
1. ping 3.34.218.30
     Got response
2. telnet 3.34.218.30 1621
    Got connection refused
3. telnet 3.34.218.30
    Got connection refused
![image](https://user-images.githubusercontent.com/31111431/70333372-5d0d3200-1869-11ea-8609-6c8701c99468.png)

[2019-12-06 16:48] ayasuda2OO3 commented on #28
@AakritiTalwar12 @Gayatri212 Thanks, it seems to be a container-network issue. Could we share the docker-compose setting, and the docker command to launch this nifi instance? please hash out any creds as needed.

[2019-12-06 21:40] ramaraosrikakulapu commented on #29
Thanks @ayasuda2003 for raising the issue and here are the steps to follow for running the agent in AWS HA -

1) Provision the EC2 instances in multiple regions with following configuration -

T2.small
Memory – 4 GB  (2X)
Disk – 4GB (2X)

2) SSH into the first EC2 instance and download the agent binary from github -
curl https://raw.githubusercontent.com/Enterprise-connect/ec-x-sdk/v1.hokkaido.212

[2019-12-09 05:29] ayasuda2OO3 commented on #25
Vinay, Gayatri, and I had a quick session over the connectivity. Our observation as follows-

1) ```tenet 3.34.218.30 1621``` connection **was established successfully**.
2) The connection between agents was established successfully with a dedicated session# and a #binding. However, the connection between the server and the resource (oracle db) was terminated by thw server agent after idling for 2

[2019-12-09 13:39] vrp0000 commented on #25
We tried using a dedicated EC agent. Below are the screenshots of the error received.
1) Client agent
![image](https://user-images.githubusercontent.com/31111431/70439316-bbc6eb80-1ab5-11ea-866f-2686f10e68f7.png)

2) Server agent
![image](https://user-images.githubusercontent.com/31111431/70439373-e153f500-1ab5-11ea-8438-2ffbe88826a5.png)

3)Gateway logs
![image](https://user-images.githubusercont

[2019-12-09 14:37] ayasuda2OO3 commented on #25
After a quick call over the latest logs, we understand the following steps were taken-

1) replicate an existing nifi flow which runs the VLAN plugin successful.
2) use a new pair of groupid, agent ids.

here is some suggestion-

1) **upgrade agent from #209 to #212** to avoid a VLAN bug which would potentially timeout the connectivity.
2) For the test, use the same oracle db instance which has be

[2019-12-09 17:49] AakritiTalwar12 commented on #25
pfb the screenshot of server logs for the request

![image](https://user-images.githubusercontent.com/58229454/70459524-5cc79d80-1ada-11ea-8965-551b330d150b.png)

[2019-12-09 18:00] ayasuda2OO3 commented on #25
We had another session. Below setting are known during the session-

1) the agent is #212
2) a new group id/agent ids were used.

Observation:
1) The requester signaled a timeout to the client agent following a lengthy wait time.
2) the server received a FIN from the client, and terminate the resource connection.
3) From the screenshot provided by @AakritiTalwar12, the log indicated that the sessi

[2019-12-10 14:14] Gayatri212 commented on #25
Update-

1. The Oracle db is up and running. As direct connectivity from on-prim is working.

2. The IP and port range is not yet received from developer.

3. We tried to connect to this db using sqlcl through EC connection and following are the logs for it
[code]

[2019-12-10 14:17] ayasuda2OO3 commented on #25
Thnk for the update, On the item#3, can we observe the connectivity with the SqlCL If the SQLCL is deployed **on the machine where the server agent is deployed**, (no EC connectivity) What is the outcome? @Gayatri212 @AakritiTalwar12 @Kshitij

[2019-12-10 19:05] ayasuda2OO3 commented on #25
Per our latest sesssion (Simran, Kshitij, Gayatri, Chia) here summarised our observation-

1) SqlCl command is not properly setup **on the machine where the server agent is deployed**, Kshitij will share the screenshot/logs.
2) We were able to identify several flows that are working with the VLAN plugin for OracleDB. E.g. smartshop, TCT for GRC/RPLM, etc
3) Although we have a status of the target

[2019-12-10 19:14] 502762963 commented on #25
Please find the below Error for the sqlcl running on server agent:
<appsoa><alpcclappdvn01><CCL_Test_Domain-01> /u03/shared/Sarah/sqlcl/bin # sql FDM_RO@s201-2-scan.cloud.ge.com:1621/tlfdmq_taf.cloud.ge.com

SQLcl: Release 19.2.1 Production on Tue Dec 10 13:49:06 2019

Copyright (c) 1982, 2019, Oracle.  All rights reserved.

Password? (**********?) ***********
ERROR:
**IO Error: System Property or

[2019-12-10 21:46] ayasuda2OO3 opened #30 "- Multiple Proxy Settings"
Recent deployment indicate several use cases for different proxy settings. E.g. Connecting to a gateway deployed onprem without a HTTP proxy, but still need to be able to access any external CF UAAs/EC Services with separate proxy settings.

[2019-12-11 14:14] ramaraosrikakulapu commented on #30
I have couple of options to propose -

- We should have different proxy settings for connecting to UAA and Gateway OR
- We can try connecting to both UAA and Gateway with and without proxy settings, though -pxy flag enabled.

[2019-12-11 14:22] Gayatri212 commented on #25
Update -

1. There is no issue with oracle db and the default port is 1621 only - confirmed by db team.
2. We found one flow which uses VLAN setup to connect with Oracle db and which is working fine so we compared this setup with the working setup.
3. As the other setup is working fine with the same VLAN connection proves that there is no issue with EC setup.

Observations -
- The working setup is

[2019-12-11 14:31] ayasuda2OO3 commented on #25
The DB is deployed via a custom environment where the **network settings are not visible** to this troubleshooting. Any observation of **the direct access between the server agent host and the Oracle DB inst** @kshitij @502762963 @Gayatri212 @AakritiTalwar12

[2019-12-11 17:20] ayasuda2OO3 opened #31 "- Invalid Client Access for GE Power"
Deploy a client agent onprem. However, in the case with Power, the access is not available with the internal-facing LBer due to the client proxy setting. **Need to deploy a external-facing LBer for the interim**.

[2019-12-11 17:22] ayasuda2OO3 commented on #29
Please continue enhance this steps. @ramaraosrikakulapu

[2019-12-11 17:25] ayasuda2OO3 opened #32 "GE Capital VLAN Use case PoC"
Help the team to establish end-to-end connectivity for Oracle SCAN db, based on [this README](https://github.com/Enterprise-connect/ec-x-sdk/tree/v1/plugins/vln)

[2019-12-11 17:33] ayasuda2OO3 commented on #32
The latest Issue-
Received a connectivity error (websocket abnormal closure) from the gateway. Re-deploy the gateway with updated flags and trying to establish the superconn.

Action item-
1) Work with the team to re-deploy the server for the superconn.
2) Demonstrate the **connectivity** between the server agent **host** and the **RDS DB** is enabled.

[2019-12-11 17:36] ayasuda2OO3 commented on #31
ETA of this task is EoB Frioday (Dec-13) @ramaraosrikakulapu

[2019-12-11 17:41] ayasuda2OO3 opened #33 "Genpact Connectivity Usecase between AWS FDL Database and Predix SCx application"
Latest-
1) The deployment script has been provided to the team.
2) The team is working on testing the script.

[2019-12-11 17:45] ayasuda2OO3 commented on #30
Acknowledged. Working to get the requirement. In Design phase. ETA is one sprint. **Will need to define a AHA Feature once it is committed**.

[2019-12-11 20:43] ramaraosrikakulapu commented on #32
- Gateway application redeployed with updated hst flag as below -

```-hst wss://capital-poc-gateway.run.aws-usw02-dev.ice.predix.io/agent```

- Started the EC server

But still seeing the error. Below are the screenshots for the logs -

Client logs -

<img width="1086" alt="Screen Shot 2019-12-11 at 3 57 44 PM" src="https://user-images.githubusercontent.com/38732583/70660058-5139bb00-1c2f-11ea-87

[2019-12-11 22:36] ayasuda2OO3 commented on #32
Thanks for writing it up. It seems to be a server agent exception. Can we share the server log? @ramaraosrikakulapu

[2019-12-12 17:23] Gayatri212 commented on #25
Update -

On this, we were able to connect to this Oracle DB instance from the VM where EC server is running please find the logs below.

![D0FE85E8](https://user-images.githubusercontent.com/17348681/70734509-5f243480-1d32-11ea-853e-5d60afdd6f4a.PNG)

-  Observation
To make this connection work we need to do some TNS_ADMIN specific configuration on VM.

- Next Step
@Simran will be connecting with

[2019-12-12 21:00] ramaraosrikakulapu commented on #33
- Provided EC scripts for connecting to Kerberos System and HIVE database in AWS.

 - Customer tested the Kerberos system from terminal via EC connection and got successful response and then successfully connected to HIVE DB with another EC connection.

 - Now customer team working on changes to the client application and make EC connections from it.

**Lesson learned** :- We were facing an issue

[2019-12-12 21:00] #33 closed, assigned to ramaraosrikakulapu

[2019-12-12 21:09] ramaraosrikakulapu commented on #31
Following up and waiting for approvals to create external load balancers in customer VPC

[2019-12-13 19:23] ayasuda2OO3 opened #34 "Where are the internal/external reference docs link for GE Power Engaging?"
As a solution engineer I would like to access all links/resources as follows-

1) Rally Stories.
2) AHA Features/Ideas.
3) Repos (Gitlab/Github)
4) Automation (CI/CD)
4) Box.
5) Confluence.
6) Others. etc.

 Please advise.

[2019-12-13 19:43] ayasuda2OO3 opened #35 "What is the Problem(s) to solve for GE Power?"
As a solution engineer, what is the problem I would like to solve and the solution I would like to contribute to the GE Power business?

[2019-12-13 19:53] ayasuda2OO3 opened #36 "Who is involved in this Engagement? What are the contacts?"
As a potential customer, who are the contacts of interest upon this project?

[2019-12-13 20:08] ayasuda2OO3 commented on #36
| Role | Name | ID |
| --- | --- | --- |
| EC team - Designer | Srikakulapu, Rama Rao | @ramaraosrikakulapu |
| PM | Yadav, Sunitha | TBA |
| Power team - Designer | Challawala, Ismail | TBA |
| Power team - Architect | Border, Shaun | TBA |

[2019-12-13 20:37] ayasuda2OO3 opened #37 "What is the Problem(s) to solve for GE Capital?"

[2019-12-13 21:42] ayasuda2OO3 opened #38 "Where are the internal/external reference docs link for the GE Capital Engaging?"

[2019-12-16 13:50] ayasuda2OO3 commented on #28
Close due to inactivity.

[2019-12-16 13:50] #28 closed, assigned to ayasuda2OO3, Gayatri212, AakritiTalwar12

[2019-12-16 13:58] ayasuda2OO3 commented on #25
Close the issue as 1) the oracle db is not visible to this use case. 2) Lack of clarity from the issue tracker(s). 3) The PoC tentatively moved forward without EC. Will re-open if needed.

[2019-12-16 13:58] #25 closed, assigned to ayasuda2OO3, Gayatri212

[2019-12-16 14:32] ayasuda2OO3 opened #39 "When deploy a client agent in a EC2 instance inside Power VPC, Will it work?"

[2019-12-16 15:17] ramaraosrikakulapu opened #40 "Test EC connectivity with AWS gateway between VPC to VPC"
Test the EC connectivity with following scenario -

Deploy EC gateway in VPC1. Run the EC server and connected to a RDS database in the same or different VPC

Deploy EC client and in EC2 instance from another VPC and test the connectivity

[2019-12-16 16:36] ayasuda2OO3 opened #41 "- Create separate AWS subnets and security group comps for deployment purpose"
Moving the xcalr auto-deployment to the us-east-1. Need the ability to demonstrate the deployment in the designated az.

Current status:
- all subordinated AWS comps from the automation were still with a wrong az (ohio east)
- Updated aws subnets/security group for the "us-east-1" deployment purpose.

[2019-12-16 18:48] ramaraosrikakulapu commented on #37
Here are the actions we had completed so far -

- Subscribed to an EC service in CF3
- Deployed Gateway in predix
- Created the scripts for VLAN connection
- Handed over the server script to capital team to in EC2 instance and server agent supposed to talk to RDS database in AWS.
- Installed the linux VM in laptop to make it as 'On Prem linux' machine
- Run the client as an admin with VLAN plugin

[2019-12-16 19:05] ramaraosrikakulapu commented on #37
Due to the time gap to follow up with capital team, today I started with an other scenario -

- Run the mysql database in my on prem mac machine
- Run the server agent in on prem with same EC subscription from CF3
- But noticed below exception from gateway logs -

[code]

Following actions were taken to solve the problem -

- Updated the certs and redeployed the gateway
- Created and tried with ne

[2019-12-16 19:15] ramaraosrikakulapu commented on #38
Here are the imp links for discussion -

Design - https://ge.ent.box.com/folder/82662308027
Rally - https://rally1.rallydev.com/#/60798192667d/detail/userstory/335121540160

[2019-12-16 19:30] ayasuda2OO3 opened #42 "Agent+TLS Container Usage"
Need usage examples for platforms using Mody (linux cgroup)

[2019-12-16 19:30] ayasuda2OO3 opened #43 "Agent+VLAN Container Usage"
Need usage examples for platforms using Mody (linux cgroup)

[2019-12-16 19:30] ayasuda2OO3 opened #44 "Agent OCI Container Usage"
Need usage examples for platforms using Mody (linux cgroup)

[2019-12-16 19:33] ramaraosrikakulapu commented on #35
Here are the actions completed so far -

- Deployed the manual AWS gateway in EC2 instance in Power VPC
- Created the internal load balancer in power VPC
- DNS request completed with internal load balancer URL to Gateway name
- Certs request completed and uploaded in power VPC (Yet to test)

3 scenarions to test -
- [Scenario 1](https://github.com/Enterprise-connect/ec-x-sdk/issues/39):
  - Deploy

[2019-12-16 20:38] ramaraosrikakulapu commented on #39
Yes. Below is the scenario we tested -

- Ran the Server and Gateway in an EC2 linux instance in Power VPC
- Ran the Client agents in other EC2 windows instance in same VPC and able to make successful connection.
- Installed MySql workbench on client machine and tested the connection with test credentials and got "Login failed with Authentication" as expected

Here are the logs noticed from server

[2019-12-16 20:38] #39 closed, assigned to ramaraosrikakulapu

[2019-12-16 20:46] ramaraosrikakulapu commented on #34
Here are the related links for engagement -

Rally - https://rally1.rallydev.com/#/60798192667d/detail/userstory/353294792668
Lucidchart - https://www.lucidchart.com/documents/edit/87041f48-a01d-4085-a57d-1820122c6ff5/kqNc~85CYVxz
AHA Features/Ideas - https://ge-dw.aha.io/features/DTEC-85
Box - https://ge.ent.box.com/folder/83160883402

We will add/update the links when needed.

[2019-12-17 13:54] ayasuda2OO3 commented on #32
Latest update- conducted end-to-end with a cf3 subscription. In progress. @ramaraosrikakulapu

[2019-12-17 18:37] ramaraosrikakulapu opened #45 "Unable to make connections with VLAN"
Following is the scenario, I am trying to test with VLAN -

- Run mysql database server in my mac machine
- Deploy gateway in CF3
  - [Health](https://capital-poc-gateway.run.aws-usw02-dev.ice.predix.io/health)
- Run server agent in my mac machine and below is the script -
[code]
- Run client agent in AWS EC2 linux machine with root user. Here is the client script -
[code]
plugins.yml -
[code]
- U

[2019-12-17 19:57] ayasuda2OO3 commented on #45
@ramaraosrikakulapu all creds are updated and hashed. Please be discreet when raising issues.

Please validate the mysql connection (172.23.0.72:3306) on the host where the server agent is deployed. There are some mysql cli utility [that are cross-platform available](https://dev.mysql.com/doc/refman/8.0/en/mysql.html)

[2019-12-17 20:06] ramaraosrikakulapu commented on #45
Sure @ayasuda2003. Accepted the suggestion !!

172.23.0.72 is the IP address where MYSQL database is running. I tested the connection from sql workbench with IP address as host.

[2019-12-17 20:15] ayasuda2OO3 commented on #45
Please provide the connection test detail/steps/logs to further enable the debugging.

[2019-12-17 20:28] ayasuda2OO3 commented on #45
@ramaraosrikakulapu . Some suggestion-
1) detail the steps for testing the connectivity in between **the server host** and **the mysqldb**
2) provide the logs if any at app-level. E.g. ```launch mysql.exe -hello - i run -this -command```
3) evidences to test out the 172.23.0.72 with port# 3306
4) publication/doc reference supporting the port#3306 is the port and the only port used in this mysql us

[2019-12-17 21:41] ramaraosrikakulapu commented on #40
Tested the connectivity across the VPC's and got the successful result. Here is the scenario we tested -

- Run the EC gateway US1P VPC
- Run the EC server in US1P VPC and connected to a RDS database
- Run the EC client in US1N VPC and installed mysql client tool

[2019-12-17 21:41] #40 closed, assigned to ramaraosrikakulapu

[2019-12-17 21:42] ramaraosrikakulapu commented on #41
Will work on it soon

[2019-12-17 21:48] ramaraosrikakulapu opened #46 "Test AWS gateway connectivity with On Prem agents"
Test the EC connectivity with following scenario -

- Deploy gateway in customer VPC
- Run server agent in 'on prem'
- Run client in VPC

[2019-12-17 21:50] ramaraosrikakulapu commented on #31
Power team not able to create an external load balancer due to limitations. So decided to follow below approaches and test the connectivity -

- [Run server and client in same VPC in different instances](https://github.com/Enterprise-connect/ec-x-sdk/issues/39)
- [Run server and client agents in different VPC's](https://github.com/Enterprise-connect/ec-x-sdk/issues/40)
- [Run the server agent in '

[2019-12-17 21:50] #31 closed, assigned to ramaraosrikakulapu

[2019-12-18 13:52] ramaraosrikakulapu commented on #32
Due to the time gap to followup with the team.. created a different [issue](https://github.com/Enterprise-connect/ec-x-sdk/issues/45) for VLAN testing and closing this one.

[2019-12-18 13:52] #32 closed, assigned to ramaraosrikakulapu

[2019-12-18 13:59] ramaraosrikakulapu commented on #37
Issue resolved and here is the pieces I missed/ should reverified -

- Domain names must be accurate wrt environment (CF3/CF1)
- EC service must be registered with UAA client. If not, will get '{'Status': 'failed authentication}'
- Best practice to delete gateway app before pushing again
- Must specify correct agent version specific to environment (CF3/CF1)

Hope this information will help for eve

[2019-12-18 13:59] #37 closed, assigned to ramaraosrikakulapu

[2019-12-18 14:29] ramaraosrikakulapu commented on #35
As of Dec 18 2019, Scenario 1 and 2 are tested and able to make connections between server and clients as expected.

[2019-12-18 19:04] 503025235 opened #47 "EC Logs understanding"
Hi Team,

We experienced EC for Digital Prod went down this weekend and the error we received in EC Server logs as below.

[github.build.ge.com/212359746/wzcore.(*Server).Hire.func2.1 interface conversion: interface {} is nil, not string].

Just FYI we also has Cloud foundary outage this weekend. Please help us understand when do we receive such errors because with this error EC Server went down.

[2019-12-18 19:18] ayasuda2OO3 commented on #47
Thank you for the detail, @503025235 Simran.

We have a [continue effort as part of the logging enhancement here](https://github.com/Enterprise-connect/ec-x-sdk/projects/1#card-30753121)

Could you share more lines both before/after this line from the logging for more clarity?

[2019-12-19 02:23] ramaraosrikakulapu commented on #46
Test result -

Unable to connect the server and client agents and get the below error -

[github.build.ge.com/212359746/wzcore.(*Server).admChannelReq.func1 runtime error: invalid memory address or nil pointer dereference]

[2019-12-19 02:23] #46 closed, assigned to ramaraosrikakulapu

[2019-12-19 14:04] ayasuda2OO3 commented on #30
Confirmed by the stakeholders. In progress.

[2019-12-19 14:16] #29 closed, assigned to ramaraosrikakulapu

[2019-12-19 14:17] #35 closed, assigned to ramaraosrikakulapu

[2019-12-19 14:17] #36 closed, assigned to ayasuda2OO3

[2019-12-19 14:17] #34 closed, assigned to ramaraosrikakulapu

[2019-12-19 17:21] ramaraosrikakulapu commented on #45
@ayasuda2003 .. Please find the screenshots below -

Mysql is running on the machine 172.23.0.72 with root user on port 3306

![image](https://user-images.githubusercontent.com/38732583/71194367-caea2e00-2259-11ea-9416-d4b65a7c2998.png)

![image](https://user-images.githubusercontent.com/38732583/71194423-de959480-2259-11ea-9c82-3351bbe51fc9.png)

And server agent also running in the same machine.

[2019-12-19 23:15] ayasuda2OO3 commented on #25
@503025235 user comments-
/*****************************************/
The FDM POC TC issue is resolved now. Actions taken to resolve the issue are as below

1) The Host IP and port provided were not appropriate as those were the load balancer IP and port and not the actual IP and Port we use to connect to the database directly. Due to this the connectivity glitch was happening. The actual IP and p

[2019-12-20 15:29] ramaraosrikakulapu commented on #45
Problem resolved and looks like I have to give command for connecting to remote database -

[code]
Make sure you installed mysql client tool

[2019-12-20 15:29] #45 closed, assigned to ayasuda2OO3

[2019-12-20 20:08] ramaraosrikakulapu opened #48 "Genpact performs about 40 sec to execute a single query via a client agent in CF (predix)"
use-case:
[java app <---> client (cf)] <---> gateway (cf) <---> server (aws)

Suggestion:
- Test the query without agents just to see the performance of the query.
- Test Connection state (Connect/close) without a query.

Follow up:
- How long it takes to send the request from client to server agents
- Execution time for query in HIVE database
- Size of result set from query
- Time taken to send t

[2020-01-02 15:42] sjannela-TC opened #49 "EC Connectivity Issue for QA2 Instance of PowerPLM"
When we are trying to connect to QA2 Instance from EC we are facing below issue.

Actions Performed:
1.	Instead of load balancer URL , Tried connecting to IP - 10.93.224.23
2.	Tried with IP and Port – 80 and 443
3.	Tried with removing existing QA2 Certificates and re-installation of the certificates provided by Andrew

invokehttp.request.url
http://10.242.49.126:7220/powerplminternal/resources/ext

[2020-01-02 16:03] ramaraosrikakulapu commented on #49
Thanks for raising the issue @sjannela-TC

Can you please check the health status of your gateway. Please start, if gateway is not running.

[2020-01-02 16:11] ayasuda2OO3 commented on #49
Thanks for the detail. Assuming the following use case-

Nifi Instance (requestor)<--> client (aws) -> gateway (aws) <- server (unknown) <--> tcp resource

Please identify the following-

- Agent Rev.
- A workable Gateway ```https://<Gateway-Host>/health``` URL relevant to this troubleshooting.

Please reach out to the **Ops Support group (DigitalGeleguaSupport@ge.com)** if this is a  AWS configur

[2020-01-06 13:52] #38 closed, assigned to ramaraosrikakulapu

[2020-01-06 17:24] ramaraosrikakulapu commented on #41
@ayasuda2003 .. xcalrii application is able to connect to us-east-1 region and created target groups, rules and EC2 instances.

We can close this issue once we clean the tested components which needs your help.

[2020-01-07 19:46] ramaraosrikakulapu opened #50 "Procure hardware for testing EC connections"
Follow up with Power team to acquire following hardware and software -

- EC2 instances for running the EC agents in different VPC's
- Install mysql client in one VPC
- Information to test the connection

Procure hardware for testing EC connections

[2020-01-07 19:49] ramaraosrikakulapu commented on #50
Completed as of now -

- Provisioned linux EC2 instance in US VPC and got access
- Downloaded and able to run server and gateway agents
- Provisioned linux EC2 instance in EU VPC and got access to run client agents
- Installed mysql client in EC2 in EU VPC
- Downloaded and able to run the client agent

Pending -
- Have to get access to target system and test the connection - Pending

Here is the [

[2020-01-07 20:07] ramaraosrikakulapu opened #51 "AWS gateway with 1725 beta version with proxy settings"
Agent new beta version 1725 released to handle proxy settings for connecting to gateway URL, EC Service URL and UAA service from agent binary.

Scenario to use the 1725 beta version -

- Subscribe to EC and UAA services in CF3
- Run the AWS gateway in EC2 instance provisioned in US VPC
- Run the server agent in GE on prem machine
- Run the client agent in EC2 instance, provisioned in EU VPC

[2020-01-07 21:41] ramaraosrikakulapu commented on #51
Completed so far -

- Subscribed to EC and UAA services in CF3 environment
- Ran gateway in power VPC. Link for [health](https://internal-powerecateway-prd-app-alb-1763157660.us-east-1.elb.amazonaws.com/health) page
- Tried to run the server agent in 'on prem' machine, but noticed error message -

[code]

[2020-01-14 21:12] ramaraosrikakulapu opened #53 "Unstable connection with 1725 beta agent"
Looks to me system is taking more time for connection and client request getting timed out.

Here is the details -

**Scenario**: Connecting to 'on prem' mysql database from EC2 in power EU VPC

**Client logs**:
[code]

**Gateway logs**:
[code]

**Server logs**:
[code]

**Client tool**:
[code]

Please let me know, if I can provide any details.

[2020-01-14 21:18] ayasuda2OO3 commented on #30
v1beta #1725 is in QA stage. @ramaraosrikakulapu

[2020-01-14 21:22] ayasuda2OO3 commented on #53
#51 #30

[2020-01-14 21:33] ramaraosrikakulapu commented on #51
Downloaded the latest 1725 version.

Looks to me system is taking more time for connection and client request getting timed out.

Here is the details -

**Scenario**: Connecting to 'on prem' mysql database from EC2 in power EU VPC

**Client logs**:
[code]

**Gateway logs**:
[code]

**Server logs**:
[code]

**Client tool**:
[code]

Please let me know, if I can provide any details.

[2020-01-14 21:34] ramaraosrikakulapu commented on #53
Duplicate. Please refer to #51 for followup

[2020-01-14 21:34] #53 closed, assigned to ayasuda2OO3

[2020-01-14 21:51] ramaraosrikakulapu commented on #50
Power team provisioned new EC2 instance in EU VPC and grant admin access. That would be sufficient for testing the connections for now. So closing the issue.

[2020-01-14 21:51] #50 closed, assigned to ramaraosrikakulapu

[2020-01-15 13:52] ayasuda2OO3 commented on #51
The initial assessment based on the log-

- it seems the client initially did not find the server on the gateway and got dropped after 10 sec, whilst the server came back couldn't find the agent when dialed-in.
- Suggest to test 1724 to see if the problem persist.

Please share the setting with credentials in hash.

[2020-01-15 14:54] ramaraosrikakulapu commented on #51
@ayasuda2003 .. Yes, client closing the connection before server is back. And we can't test with 1724 as it does not have changes for proxy and can't connect to internal load balancer.

Here are the settings for connection -

**Gateway**:
[code]

**Server script**:
[code]
**Client script**:
[code]

[2020-01-16 15:59] ramaraosrikakulapu commented on #51
Identified and solved the problem. My hosts file have multiple entries with gateway URL, which make server agent to get confused and taking long time to establish session with client.

Removed all entries from hosts file and now server able to make stable connection with client.

[2020-01-16 15:59] #51 closed, assigned to ramaraosrikakulapu

[2020-01-17 20:34] ramaraosrikakulapu opened #54 "Connectivity check with beta 1725 version"
Following are the scenarios to test with beta 1725 version -

Traditional
Fuse mode server
Fuse mode client
VLAN
TLS

[2020-01-17 20:34] ramaraosrikakulapu commented on #54
Status as of now -

Traditional - Completed and working fine
Fuse mode server - In Progress
Fuse mode client - In Progress
VLAN - In Progress
TLS - Not Started

[2020-01-21 15:40] ramaraosrikakulapu commented on #54
VLAN functionality tested successfully. Here is the updated status -

**Traditional** - _Completed_ and working fine
**Fuse mode server** - _On Hold_ - Need DB credentials to test OR need time from DB owner to test the functionality
**Fuse mode client** - _On Hold_ - Need admin access to install sql client OR waiting for tool to be installed
**VLAN** - _Completed_ and working fine
**TLS** - _Not S

[2020-01-22 02:42] ramaraosrikakulapu commented on #54
Updated status as of Jan 21 -

**Traditional** - _Completed_ and working fine
**Fuse mode server** - _On Hold_ - Need DB credentials to test OR need time from DB owner to test the functionality
**Fuse mode client** - _Completed_ and working fine
**VLAN** - _Completed_ and working fine
**TLS** - _In Progress_

[2020-01-22 14:35] ayasuda2OO3 opened #57 "Discussion for Zone "Zero" File Transfer via EC Agents."
GE Power has use case to transfer onprem files across environments.

### Proposed Solution
Potentially leverage/Implementing Agent File Transfer, available in the v1.1beta release. In discussion.

### Test
Writing python script based on [the qa framework](https://github.com/Enterprise-connect/qa.ec/tree/v1.1beta)

[2020-01-22 14:44] ayasuda2OO3 commented on #54
Can we contribute the test script based on [the qa framework](https://github.com/Enterprise-connect/qa.ec)

[2020-01-27 20:27] ramaraosrikakulapu opened #62 "Solutioning Genpact use case"
Genpact team had a requirement for connecting to HIVE DB and Kerberos system in AWS from a predix application. Detailed solution offering diagram was uploaded [here](https://ge.ent.box.com/folder/94754644518).

It has 2 EC connections.
1) Connecting to Kerberos system to get authentication token
2) Connecting to HIVE DB with the authentication token obtained from first connection.

Solution was im

[2020-01-27 20:29] ramaraosrikakulapu commented on #62
Some more technical information -

Agent version - 204
Gateway deployed in predix CF1 and URL is - _wss://globalopsedm-gateway.run.aws-usw02-pr.ice.predix.io/agent_
Zone - 0ac87bbe-2059-4ed9-9794-eca7421184f9

[2020-02-03 16:03] ramaraosrikakulapu commented on #62
As per the recent discussion agent is not going down frequently and connection is up for long time.

Planned for production deployment on Jan 31 2020 4:30 PM. But found last min issues in stage environment and FDL team is working to resolve the issues.

[2020-02-03 16:04] ramaraosrikakulapu commented on #54
Scripts uploaded and below is the link to access them -

https://github.com/Enterprise-connect/qa/tree/aws-gateway-direct/aws-direct

[2020-02-03 16:11] ramaraosrikakulapu commented on #48
Debug steps provided to customer in Dec 2019. Closing the issue due to inactivity for long time.

[2020-02-03 16:11] #48 closed, assigned to ayasuda2OO3, ramaraosrikakulapu

[2020-02-19 17:34] ramaraosrikakulapu commented on #62
Solution went production 02/10 and no issues reported so far.

[2020-02-19 17:34] #62 closed, assigned to ayasuda2OO3, ramaraosrikakulapu

[2020-02-19 17:35] ramaraosrikakulapu commented on #54
Fuse mode has problem and fixes are in progress. Fixes will be merged in v1.1beta version?

[2020-02-19 17:37] ramaraosrikakulapu commented on #41
Closing the issue as main features already implemented. Cleaning can take place at one time.

[2020-02-19 17:37] #41 closed, assigned to ramaraosrikakulapu

[2020-02-19 17:43] ayasuda2OO3 commented on #54
This is a part of the ongoing [v1.1beta QA effort](https://github.com/Enterprise-connect/qa/tree/v1.1beta) All relevant updates will be updated in [the CI](https://travis-ci.com/Enterprise-connect/qa) @ramaraosrikakulapu

[2020-02-19 18:01] ramaraosrikakulapu opened #63 "Create EC connection with business gateway for non prod databases"
Create EC connection with business gateway for non prod databases -

1. SERVICE_NAME=PNZLOP01
     HOST=percip41-scan.pw.ge.com
     PORT=1521
2. SERVICE_NAME= pnnimd01
     HOST=pwnld1716v01.cloud.ge.com
     PORT=1521

[2020-02-19 18:04] ramaraosrikakulapu commented on #63
Following actions are done so far -

- Gateway deployed in business VPC
- Deployed the server agents in on prem CCLC servers
- Deployed client agents in VPC where BOTS jobs are running

Came to know, target systems are oracle rac databases. So requested customer to provide local listener ip and port numbers for oracle db and need to update them in rht and rpt flags in server scripts and check the

[2020-02-19 18:06] ramaraosrikakulapu opened #64 "Create EC connection for connecting to NAS folders"
Create EC connection for connecting to NAS folders

[2020-02-19 18:08] ramaraosrikakulapu opened #65 "Process streamline for updating certificates for EC subscriptions"
Process streamline for updating certificates for EC subscriptions

[2020-02-20 16:11] ramaraosrikakulapu opened #66 "Make source ip explicit to the gateway users"
Make source ip (ipv4/ipv6) display in debug logs to the gateway users

[2020-02-20 18:20] ramaraosrikakulapu opened #67 "Unable to whilelist with ipv6"
Need to readdress ip filtering with IPv6 addresses.

[2020-02-20 18:21] ramaraosrikakulapu commented on #66
Gateway logs already displaying ipv6 addresses.

[2020-02-20 18:21] #66 closed, assigned to ayasuda2OO3

[2020-02-20 18:24] ayasuda2OO3 commented on #67
Please provide logs. @ramaraosrikakulapu

[2020-02-20 18:34] ramaraosrikakulapu commented on #67
Here are the gateway logs with IPv6 address -

[code]

[2020-02-20 18:58] ayasuda2003 commented on #67
Is the server use or behind a proxy setting? @ramaraosrikakulapu

[2020-02-20 20:21] ayasuda2OO3 commented on #67
In team discussion if including the local ip addresses in the white/black list still make sense and a practice to follow.

[2020-02-21 22:10] ramaraosrikakulapu opened #68 "scp with enterprise connect"
This is for documenting a lesson learnt from an experience for doing scp a file from AWS EC2 machine to an on prem VM.

Here are the environment details -
- Gateway deployed in predix environment
- EC server agent deployed in on prem VM machine where files supposed to copied to
- EC client agent deployed in AWS EC2 instance where client application 'Thread Connect' dev instance (tc-dev) is running

[2020-02-21 22:11] ramaraosrikakulapu commented on #68
@palokam .. Please check and correct the details as needed

[2020-02-22 20:01] palokam commented on #68
@ramaraosrikakulapu - another parameter to add so that it will not write into known_hosts to become a problem is
scp -i "keyfile"...-o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no ...

[2020-02-24 17:32] ramaraosrikakulapu commented on #68
Thanks @palokam !! Updated the description as suggested and closing the issue.

[2020-02-24 17:32] #68 closed, assigned to palokam, ramaraosrikakulapu

[2020-02-25 17:17] ramaraosrikakulapu commented on #64
Here is the use case details -

**Requirement:** Customer has NAS drive setup and can be connected directly from on prem and customer wants to access it from AWS environment

**What had done so far:**
- NAS drive setup and able to access it from any machine in on prem
- EC gateway created in predix environment
- EC Server deployed in on prem machine
- EC Client deployed in AWS windows EC2

**Road

[2020-03-05 15:10] ayasuda2OO3 opened #69 "EC Admin Console (Release 13)"
### Subject
[AHA DTEC-94 As an Ops, need EC Admin Console - View Status & Dashboard](https://ge-dw.aha.io/features/DTEC-94)
### Owner
Gayatri, Koushik.
### Repo
- [web-ui-backend](https://gitlab.com/digital-fo/connectivity/enterprise-connect/platform-agnostic/webui-api)
- [web-ui-frontend](https://github.com/Enterprise-connect/web-ui)
### Packaging
- [docker registry](https://hub.docker.com/reposi

[2020-03-05 17:21] ayasuda2OO3 opened #70 "Setup Gateway in Azure VPC (Release 13)"
### Subject
[AHA DTEC-95 Setup Gateway in Azure VPC](https://ge-dw.aha.io/features/DTEC-95)
### Feature Owner
Ram.
### Repo
- [Container Usage in Azure](https://github.com/Enterprise-connect/oci)
### Packaging
- [docker registry](https://hub.docker.com/repository/docker/enterpriseconnect/agent)
- [tarball](https://github.com/Enterprise-connect/sdk/tree/v1.1beta/dist/agent)
### Documents | Support

[2020-03-05 19:10] ayasuda2OO3 opened #71 "EC Agent Containerization - Test in Kubernetes (Release 13)"
### Subject
[AHA EC Agent Containerization - Test in Kubernetes](https://ge-dw.aha.io/features/DTEC-97)
### Repo
- [k8s spec](https://github.com/Enterprise-connect/oci/tree/v1.1beta/k8s/agent)
- [helm deployment](https://github.com/Enterprise-connect/oci/tree/v1.1beta/k8s/agent)
- [configmap conversion](https://github.com/Enterprise-connect/oci/tree/v1.1beta/k8s/agent)
### Packaging
- [docker regi

[2020-03-09 02:29] ramaraosrikakulapu opened #72 "Fill out FMEA document for EC (Release 13)"
Fill FMEA document for enterprise connect product to cover multiple failure scenarios, root causes, steps to taken

[2020-03-09 18:44] ayasuda2OO3 commented on #72
#69 #70 #71 please ensure [the form is updated via here]( https://ge.box.com/s/gtskefe94w0s2uxuxnmarvtlnkt774aa) as [its specified here](https://github.com/Enterprise-connect/sdk/issues/70) @ramaraosrikakulapu

moved to in-progress.

[2020-03-10 10:42] Gayatri212 commented on #69
- Modified subscription request data model and apis in xcalr. [MR](https://gitlab.com/digital-fo/xcalrii/-/merge_requests/9)
- Added API endpoints for subscription operations in UI backend
- Merge UI backend code with latest agent [code](https://gitlab.com/digital-fo/connectivity/enterprise-connect/platform-agnostic/webui-api/-/tree/merged-with-agent)
- Added swagger document for newly added APIS

[2020-03-10 10:56] Gayatri212 commented on #69
### Issue
- While running web ui using new agent facing following issue

* Ouath2 logs
[code]

* WebUI logs
[code]

- Browser is looking empty no logs in console @ayasuda2003

[2020-03-12 19:07] ramaraosrikakulapu commented on #70
Provisioned with an ALB (ip address: 10.210.151.229) and Ubuntu virtual machine (ip address: 10.210.151.230).

Able to to run the gateway in Azure VM and able to curl the health page from the same VM, but unable to access health page from outside.

From the discussion, we understood security rules are not allowing to access the gateway health page. Have to work with Zameer to update the security r

[2020-03-16 03:04] ramaraosrikakulapu commented on #70
Updated the security rules and able to access the gateway health page from on prem network.

Next steps:
Recreate them to understand better
Check the EC connection with Azure gateway
Documentation

[2020-03-16 20:11] ramaraosrikakulapu opened #74 "Windows VLAN"
Scenario:
Connecting to multiple target systems from windows EC client

[2020-03-16 20:13] ramaraosrikakulapu commented on #74
**Target system:**

Installed mysql and postgres databases on a mac machine
server script:
[code]

[2020-03-16 20:25] ramaraosrikakulapu commented on #74
**Source System:**

Following steps taken to run the client agent in windows machine -

- Add new network adaptor. Please refer below link for ref -
http://abetayev.me/2016/07/26/adding-loopback-interface-in-windows-10/

- Go to Control Panel -> View network status and tasks -> Change adapter settings -> right click on newly created adaptor (It will be like Ethernet 2/3/4..) and go to properties

[2020-03-17 14:20] ramaraosrikakulapu commented on #72
Reviewed with @palokam on Mar 13 and explained the planned scenarios to cover in FMEA and got suggestions for improvement.

[2020-03-17 17:38] ramaraosrikakulapu commented on #74
Pictorial explanation of windows VLAN is available [here](https://www.lucidchart.com/documents/edit/e5acf9cf-9a50-48c2-b239-858cf3220f3e/wmrHCUrxk~wQ)

[2020-03-20 19:09] ramaraosrikakulapu commented on #72
Uploaded the latest version in [box](https://ge.ent.box.com/folder/105857736626)

[2020-03-20 21:24] ramaraosrikakulapu commented on #63
Received the list of local and scan IP addresses. Here are steps how solution implemented -

- Added all IP addresses to hosts file in client machine
- Updated server agent script with one of the scan ip and port
- Connected to database with ip where client agent is running and lpt

[2020-03-20 21:24] #63 closed, assigned to ramaraosrikakulapu

[2020-03-23 12:30] ramaraosrikakulapu commented on #72
Took the review comment from @ayasuda2003 and updated FMEA sheet with issues list

[2020-03-23 12:33] ramaraosrikakulapu commented on #70
Following are the activities to create in order -
Resource Group
Subnets
Virtual Network
Virtual Machines
Azure Application Gateway
Listener
Routing rule
Http Settings
Health Probes

Deployed EC agent in gateway mode and able to access it with azure application gateway. Yet to test EC connectivity with Azure EC gateway.

[2020-03-26 14:32] ramaraosrikakulapu opened #75 "Globalscape reporting Usecase"
Connecting to MS SQL RDS database in AWS from globalscape application in on prem

[Solution Diagram](https://www.lucidchart.com/documents/edit/53b6fab8-c726-4a21-b39f-b1d603c4722e/uQeJRV6z~-82)
[Box link](https://ge.ent.box.com/folder/108198446413)

[2020-03-26 14:33] ramaraosrikakulapu commented on #75
Detailed solution diagram available [here](https://www.lucidchart.com/documents/edit/53b6fab8-c726-4a21-b39f-b1d603c4722e/uQeJRV6z~-82)

Target system details: AWS MS SQL RDS database
Source system details: Globalscape application in onprem VM network

[2020-03-26 14:41] ramaraosrikakulapu commented on #75
Where we are today -

- Deployed the AWS gateway in Corp VPC
- Deployed the server agent in Corp VPC and should be able to connect to MS SQL DB
- Deployed the client agent in dev VM where globalscape application is running
- Client agent unable to get the UAA token as globalscape dev VM did not have access to public network

Proposed solution -
- Should deploy client agent in CCL servers or other

[2020-03-26 21:08] ramaraosrikakulapu commented on #74
Closing the issue as we completed the PoC

[2020-03-26 21:08] #74 closed, assigned to ramaraosrikakulapu

[2020-03-30 14:01] ramaraosrikakulapu opened #76 "Unable to make fuse mode connection with 2730"
I am trying to play with 2730 version and trying to make EC connections with that version.

- I am able to make successful direct EC connection
- I am able to make encryption, decryption and signature verification
- Trying to make EC connection with fuse mode and able to make super connection between gateway and server agent. After running the client agent and trying to make EC connection, client

[2020-03-30 14:08] ramaraosrikakulapu commented on #76
Here are the scripts skeletons -

**gwserver.yml**

[code]

**Client script:**

[code]

Please let me know, if I can provide more details

[2020-03-30 14:41] palokam commented on #76
@ramaraosrikakulapu  is the same issue exists with GW:Client as well? Can you do a quick verification as well.

[2020-03-31 18:56] ayasuda2OO3 commented on #76
@ramaraosrikakulapu can you share logs from the gw:server agent?

[2020-04-02 18:45] ramaraosrikakulapu commented on #75
Solution provided to the team. So closing the issue.

[2020-04-02 18:45] #75 closed, assigned to ramaraosrikakulapu

[2020-04-02 19:11] ayasuda2OO3 commented on #76
#badHandshake referred to failing in authentication. Please validate the groups info, usage.

[2020-04-02 19:17] ramaraosrikakulapu commented on #72
EC FMEA KT given to the ops team on Mar 24. Incorporated comments from audience and updated the tracker. FMEA document available in [box](https://ge.ent.box.com/folder/107935435242)

[2020-04-02 19:17] #72 closed, assigned to ramaraosrikakulapu

[2020-04-02 20:10] ramaraosrikakulapu commented on #76
Reverified the configuration details and here are the logs for gwserver -

[code]

client logs -
[code]

[2020-04-03 03:36] ayasuda2OO3 commented on #76
Issue was caused by missing uaa token. Fix is now available in release [v1.1beta.fukuoka.2730](https://github.com/Enterprise-connect/sdk/releases/tag/v1.1beta.fukuoka.2730) please verify and close @ramaraosrikakulapu @palokam

[2020-04-03 12:17] ramaraosrikakulapu commented on #64
Updated the lucidchart with proposed solution. Here are the steps for the solution -

- Make sure NAS drive is accessible and have necessary permissions
- Identify on prem machine to create mounts to NAS drive
- Create user and should have access to mount folders only
- Create mount for NAS drives in on prem machines
- Create EC connection over SSH
- Server agent in on prem and should be accessibl

[2020-04-03 12:17] #64 closed, assigned to ayasuda2OO3, ramaraosrikakulapu

[2020-04-03 12:18] ramaraosrikakulapu commented on #76
Thank you @ayasuda2003 . Will download the latest binaries.

[2020-04-03 13:32] ramaraosrikakulapu commented on #76
Fuse mode is working fine with gwserver and gwclient. Thanks @ayasuda2003
@palokam .. FYI

[2020-04-03 13:32] #76 closed, assigned to ayasuda2OO3, palokam, ramaraosrikakulapu

[2020-04-15 15:21] ramaraosrikakulapu commented on #70
Deployed the gateway in a Azure VM and able to make successful EC connection with server and client agents via 'Azure Load Balancer'.

Documented the steps in [wiki](https://github.com/Enterprise-connect/sdk/wiki/Azure-EC-Gateway) page. Only change, create 'Azure application Load balancer'  instead of 'Azure Application Gateway'.

Closing the issue.

Next release: Achieve HA for gateways by load b

[2020-04-15 15:21] #70 closed, assigned to ramaraosrikakulapu

[2020-04-15 15:36] ramaraosrikakulapu opened #77 "EC Gateway load balancing across multiple VM's"
**Requirement**: EC Gateway need to support load balancing across VMs - AWS/Azure

**Requirement:**
- [Aha](https://ge-dw.aha.io/features/DTEC-107)

**Design**
- [Lucidchart](https://www.lucidchart.com/documents/edit/5f94c25c-260a-4bf0-a14a-39b98a9c396a/LO9PsPKXC1ku)

**Packaging**
- [Repository](https://github.com/Enterprise-connect/oci/tree/v1.1beta/spec/loadbalancer)

**Image Registry**
- [Regi

[2020-04-16 01:59] ramaraosrikakulapu commented on #77
**Design:**
- Provision VM and run the load balancer
- Run gateway in multiple VM's. Multiple ways to run gateway -
  - Run along with watcher
  - Run in docker container
  - Run as standalone process
- All gateway instances register with EC service
- Server agent maintain super connection with all gateway instances
- Client should connect to server agent via any gateway instance

[2020-04-16 02:14] ramaraosrikakulapu commented on #77
Status as of Apr 15 -

- 3 VM's provisioned and one used to run load balancer and other 2 allotted for running gateways
- Deployed load balancer (nginx) in a docker container in one VM
- Gateway able to run as standalone process and in docker container
- Able to make successful EC connection when one gateway instance is running

To Do:
- Able to make successful EC connections when multiple gateway

[2020-04-16 02:16] ramaraosrikakulapu opened #78 "EC Performance metrics"
Get the performance metrics with 2725 version across platforms

[2020-04-16 04:40] Gayatri212 opened #79 "Modify Subscription Request data model in xcalr to utilize it for web UI"
Modified xcalr - [MR](https://gitlab.com/digital-fo/xcalrii/-/merge_requests/9)

[2020-04-16 04:41] #79 closed, assigned to nobody

[2020-04-16 04:45] Gayatri212 opened #80 "DeveloperID fix in xcalr and backend"
### Issue -
- The developer ID is getting fetched inside xcalr for subscription calls but as the new accounts are not added to xcalr this call is throwing error

### Fix -
- Fetch the developer ID from oauth token in backend
- Pass this devId to xcalr for subscription calls

[2020-04-16 04:48] Gayatri212 commented on #80
- [Fix in xcalr](https://gitlab.com/digital-fo/xcalrii/-/merge_requests/10)
- [Fix in UI backend](https://gitlab.com/digital-fo/connectivity/enterprise-connect/platform-agnostic/webui-api/-/merge_requests/9)

[2020-04-16 04:48] #80 closed, assigned to nobody

[2020-04-16 04:50] Gayatri212 opened #81 "Xcalr: Add api endpoints for cloud foundry"
### Add API endpoints for CF to
- Fetch Oauth token from system uaa
- Restage EC service
- Update xcalr build to get CF username and password

[2020-04-16 04:54] Gayatri212 opened #82 "Add subscription CRUD endpoints in webUI backend"
### Subscription Endpoints
- Store information of existing EC subscriptions
- List subscriptions
- Update and delete subscription info

[2020-04-16 04:55] Gayatri212 commented on #82
[Added endpoints in backend](https://gitlab.com/digital-fo/connectivity/enterprise-connect/platform-agnostic/webui-api/-/merge_requests/4)

[2020-04-16 04:55] #82 closed, assigned to nobody

[2020-04-16 04:59] Gayatri212 opened #83 "Backend: Add endpoints to fetch real time data"
### Real time data
- Get real time gateway list from service
- Get real time supercons, client pools and sessions from gateway health

[2020-04-16 05:04] Gayatri212 commented on #83
- [Added endpoints in backed to get real time gateway list and gateway health by fetching UAA token internally](https://gitlab.com/digital-fo/connectivity/enterprise-connect/platform-agnostic/webui-api/-/merge_requests/5)
- [Added locks for gateway list call to handle concurrent calls](https://gitlab.com/digital-fo/connectivity/enterprise-connect/platform-agnostic/webui-api/-/merge_requests/6)

[2020-04-16 05:04] #83 closed, assigned to nobody

[2020-04-16 05:06] Gayatri212 opened #84 "Backend: Add endpoints for EC service Group CRUD operations"
- Create groups in EC service through web UI
- List/update/delete groups from EC service through UI

[2020-04-16 05:09] Gayatri212 opened #85 "Backend: Improve performance"
- Store real time data in map memory
- Send in map data to frontend whenever requested
- Schedule calls to refresh data stored in map periodically

[2020-04-16 05:12] Gayatri212 opened #86 "KB: Add wiki page for web UI"
### Information about web UI
- Design of WebUI
- How to deploy it locally and on EC2
- How to use webUI

### [Link for WebUI wiki page](https://github.com/Enterprise-connect/sdk/wiki/Web-UI)

[2020-04-20 12:24] vrp0000 opened #87 "vlan failure"
1. We are unable to connect to pqr-scan.com via vlan plugin.
Host :  pqr-scan.com
port : 1525
Getting connection refused in the server logs

 [EC Server] 2020/04/20 01:35:35 **[github.build.ge.com/212359746/wzcore.(*Server).addResourceInst.func1.1 dial tcp x.y.z.20:6192: connect: connection refused]**
 [EC Server] 2020/04/20 01:35:35 [github.build.ge.com/212359746/wzcore.(*Server).adminPingHandler

[2020-04-20 12:49] palokam commented on #87
@ayasuda2003 is the github public repo a good place to share all these details like internal IPs etc?

@vrp0000 - Can you help us understand the plugins.yml in an email to the EC team? **do not post the here**; please remove the previous posting as well, remove all the IPs, you can use convention like x.y.z.53, x.y.z.54, x.y.z.55 use that cryptic information

[2020-04-20 13:21] ramaraosrikakulapu commented on #87
@vrp0000 .. From the logs it looks to me, you are trying to connect with client IP and lpt port.
"tcp x.y.z.20:6192: connect: connection refused"

With VLAN, client application should always establish EC connection with Target IP and Target Port. Can you please try and update the result?

[2020-04-20 13:46] ayasuda2OO3 opened #88 "EC Test Framework"
### Subject
EC Test/Benchmark Framework
### Owner
Gayatri, Saran
### Repo
- TBC
### Packaging
- TBC
### Documents | Support KB
- TBC
### Track Progress
- TBC

[2020-04-20 13:50] palokam commented on #87
@vrp0000 and @ramaraosrikakulapu - Getting on a call help speedup the resolution

[2020-04-20 14:15] ayasuda2OO3 opened #89 "EC Gateway need to support load balancing across VMs - AWS/Azure"
### Subject
[DTEC-107- EC Gateway need to support load balancing across VMs - AWS/Azure](https://ge-dw.aha.io/features/DTEC-107)
### Packaging
Docker: ```enterprisepriseconnect/loadbalancer:v1.1beta```
### Documents | Support KB | Spec Repo
- [Nginx](https://hub.docker.com/_/nginx)
- [EC Agent wiki](https://github.com/Enterprise-connect/sdk/wiki/EC-Agent)
- [OCI Spec](https://github.com/Enterprise

[2020-04-20 14:20] #67 closed, assigned to ayasuda2OO3

[2020-04-20 14:22] ayasuda2OO3 commented on #67
Closed. Issue has been addressed in [release v1.1beta.2730](https://github.com/Enterprise-connect/sdk/releases/tag/v1.1beta.fukuoka.2730)

[2020-04-20 14:23] ayasuda2OO3 commented on #57
Expired. Close due to no activity.

[2020-04-20 14:23] #57 closed, assigned to ayasuda2OO3

[2020-04-20 14:30] ayasuda2OO3 commented on #54
The issue has been addressed in [release v1.1beta.2730](https://github.com/Enterprise-connect/sdk/releases/tag/v1.1beta.fukuoka.2730) Closed for production release.

[2020-04-20 14:30] #54 closed, assigned to ramaraosrikakulapu

[2020-04-20 14:32] ayasuda2OO3 commented on #49
Close due to lack of activity.

[2020-04-20 14:32] #49 closed, assigned to ayasuda2OO3, ramaraosrikakulapu

[2020-04-20 14:32] ayasuda2OO3 commented on #47
Close due to lack of activity,

[2020-04-20 14:32] #47 closed, assigned to ayasuda2OO3

[2020-04-20 14:33] ayasuda2OO3 commented on #30
Closed. Proxy usage has been addressed in [release 2730](https://github.com/Enterprise-connect/sdk/releases/tag/v1.1beta.fukuoka.2730)

[2020-04-20 14:33] #30 closed, assigned to ayasuda2OO3, ramaraosrikakulapu

[2020-04-20 14:34] ayasuda2OO3 commented on #22
Closed as per [release 2730](https://github.com/Enterprise-connect/sdk/releases/tag/v1.1beta.fukuoka.2730)

[2020-04-20 14:34] #22 closed, assigned to ayasuda2OO3

[2020-04-20 17:58] ramaraosrikakulapu commented on #87
@vrp0000 .. Lets have call and close this

[2020-04-21 13:18] ayasuda2003 commented on #89
#77

[2020-04-30 05:33] #81 closed, assigned to nobody

[2020-04-30 05:35] Gayatri212 commented on #84
Added these apis [see MR here](https://gitlab.com/digital-fo/connectivity/enterprise-connect/platform-agnostic/webui-api/-/merge_requests/13)

[2020-04-30 05:35] #84 closed, assigned to nobody

[2020-04-30 05:36] Gayatri212 commented on #85
Done. [see MR here](https://gitlab.com/digital-fo/connectivity/enterprise-connect/platform-agnostic/webui-api/-/merge_requests/14)

[2020-04-30 05:36] #85 closed, assigned to nobody

[2020-04-30 05:37] Gayatri212 opened #90 "Backend: Remove xcalr dependency"
- Use native database for subscription info storage

[2020-04-30 05:37] Gayatri212 opened #106 "Backend: Remove xcalr dependency"
- Use native database for subscription info storage

[2020-04-30 05:40] Gayatri212 opened #91 "Backend: Add refresh token and logout functionality in webUI backend"
- Give API call to fetch new bearer token
- Incorporate logout functionality by clearing map data and stopping periodic tasks

[2020-04-30 05:41] Gayatri212 commented on #91
Done. [see MR here](https://gitlab.com/digital-fo/connectivity/enterprise-connect/platform-agnostic/webui-api/-/merge_requests/16)

[2020-04-30 05:41] #91 closed, assigned to Gayatri212

[2020-05-01 13:07] ramaraosrikakulapu opened #92 "Unable to make super connection with watcher"
Here are the steps to recreate the issue -

- Run watcher in a VM and hst flag as - ws://{IP Addr}:17990/agent
- Run server agent with same hst flag

Server agent is keep trying to make super connection and unable to make it

[2020-05-01 13:55] ayasuda2OO3 commented on #92
Acknowledged. Test In progress.

[2020-05-01 22:01] ramaraosrikakulapu commented on #77
Where we are now -

- EC gateway running as traditional standalone process in 2 VM's
- Gateway instances registered fine with EC service
- Running the server agent and here is the format of it -
[code]
Note: Please note, hst flag does not have additional path string to identify gateway instance
- EC server made super connection with both gateways and able to see it from the health page
- Running t

[2020-05-01 23:21] ayasuda2OO3 commented on #77
Known behaviour. Please note one ```server``` cannot not serve across multiple vms. In the use case of vm x2, each server can  ONLY serve one ```vm/vm URL``` given the scaling model. For multiple gateway instances as illustrated below, **server#2** should never reach to neither **gateway#1**, **gateway#2**, or watcher#1, if watcher is in use.

Topology diagram:
[code]

@palokam @ramaraosrikakulapu

[2020-05-04 19:37] ramaraosrikakulapu commented on #77
Hi @ayasuda2003  tried the same as suggested. Here are the steps taken -

- Running the first gateway with ```hst``` - ```ws://{loadbalancer ip}/vm1/agent```
- Running the second gateway with ```hst``` - ```ws://{loadbalancer ip}/vm2/agent```
- Server script with ```hst``` - ```ws://{loadbalancer ip}/vm1/agent``` and super connection established only with gateway running in vm1
- Client with ```hs

[2020-05-04 20:35] ayasuda2OO3 commented on #77
Known behaviour. ```-hst``` in ```mod=server``` is meant to configure for accessing a specific vm. Noting ```-hst``` value cannot be ambiguous between vms/url.

An enhancement is added to gateway filtering- when server validating the gateway list for establishing superconn(s), the ```-hst``` on server config MUST matches **the gateway url in the list**. The purpose of this enhancement that it is *

[2020-05-06 12:47] ramaraosrikakulapu commented on #77
Here is the plan to proceed in phase 1 as per discussion on 05/05 -

- Use one VM behind the load balancer
- Run gateway in watcher mode with multiple instances
- All gateway instances must be registered with EC service
- Server agent must able to make super connection with all gateways
- Client should able to make successful connection to Server agent via any gateway instance

[Design flow](https

[2020-05-06 14:19] ramaraosrikakulapu commented on #77
@ayasuda2003 .. I am using 2733 version and trying to run the binary in watcher mode. But getting 'Invalid Header'.

![watcher](https://user-images.githubusercontent.com/38732583/81187878-a1207200-8f82-11ea-9ea5-af640f00e1a8.png)

Can you please tell me, if I have to make any changes to yml configuration compared to prev versions. #92

[2020-05-06 15:00] ayasuda2OO3 commented on #77
Could you share the ``` gateway.yml```?

[2020-05-06 16:43] ramaraosrikakulapu commented on #77
Got the problem @ayasuda2003 .. I have to update the agent version for ```contRev``` in the yml file. That resolved he problem. But taking so long after entering the passphrase and never returned back. Attaching the file here -

[gateway.yml.zip](https://github.com/Enterprise-connect/sdk/files/4588118/gateway.yml.zip)

[2020-05-06 21:38] ramaraosrikakulapu opened #93 "Connecting to NAS Drives - demo"
Customers have a requirement for connecting to a 'Windows drive' in Zone2 from windows client in Zone 4. So they would like to see a demo how EC can provide solution for their requirement.

Contacts:
Chitnis, Parag (GE Gas Power) - parag.chitnis@ge.com
Howell, Robert (GE Gas Power) - robert.J.howell@ge.com
Whan, Michael (GE Digital, consultant) - michael.whan@ge.com
Kurth, Andreas (GE Power Portfo

[2020-05-06 21:41] ramaraosrikakulapu commented on #93
Demo given to the customers for connecting to a on prem NAS drive from a non-ge windows client by using EC and SSHFS tool.

As per the requirement from customers, created a detailed [diagram](https://www.lucidchart.com/documents/edit/53b6fab8-c726-4a21-b39f-b1d603c4722e/NK~VP7cDDtWv)

[2020-05-06 21:42] #93 closed, assigned to ramaraosrikakulapu

[2020-05-07 01:58] ramaraosrikakulapu opened #94 "Gateway load balancing - Terraform scripts for auto deployment"
Create terraform scripts for -

- Provisioning the 2 VM's for deploying gateway load balancer and watcher
- Deploy load balancer in a VM
- Deploy watcher in other VM

[2020-05-07 17:41] ramaraosrikakulapu opened #95 "Allow traffic through gateway load balancer"
This is to log the requirement to allow or deny the traffic from agents via the v1.1beta load balancer.

```enterpriseconnect/loadbalancer:v1.1beta``` image is supposed to load balance the traffic only for beta agents. All release version agents must use ```enterpriseconnect/loadbalancer:v1.1``` image.

[2020-05-07 17:55] ramaraosrikakulapu commented on #95
Proposed solution by chia -

Create a header specific to beta agents, which will use to identify the initiator agent's version and allow the traffic.

![API flowchart example - Page 2 (1)](https://user-images.githubusercontent.com/38732583/81328127-5e39c980-906a-11ea-8349-08107d11de5c.png)

[2020-05-07 18:06] ayasuda2OO3 commented on #95
```loadbalancer``` hope its just a typo?

[2020-05-12 19:28] ramaraosrikakulapu commented on #77
Creating watcher containers issue resolved. Now watcher and all gateway containers are up and running. In progress for enabling the health page and make super connection success with server agents.

[2020-05-15 16:18] Simran0306 opened #96 "log file names while launching EC agent"
While launching EC agent on the vm through YAML file, the logs gets generated in the .ec folder. If multiple agents are running on same machine it is difficult to identify logs for one particular EC. It would be helpful if logs are generated with "groupame.log file" or any other identification

[2020-05-15 16:20] Simran0306 opened #97 "Single point of failure for load balancer VM"
If the EC client in unable to connect to the first load balancer , it wud not connect to watcher and other gateway instances on other VM's and the complete connection breaks. Please help us understand how to overcome such issue.

[2020-05-15 16:22] Simran0306 opened #98 "Watcher not bringing gateway that is down"
We saw a scenario where on a VM if there is a watcher and 3 gateway instances and if one is put down forceully the watcher was not able to bring it back to functional mode. How can we ensure all the gateway and the watcher is always up and running.

[2020-05-15 16:41] ayasuda2003 commented on #96
Thanks, @Simran0306 for opening the tracker.
Please kindly work with the stakeholders (e.g @Kamalesh, @Gowri, @Ryan @palokam, @Pradeep) , and to provide the **feature link references** from stakeholder systems (e.g. AHA, Rally, Jira, etc) when it becomes available for further R&D/Engineering efforts. @ramaraosrikakulapu

[2020-05-15 16:55] ayasuda2OO3 commented on #97
Feature acknowledged.

[Project Spec](https://github.com/Enterprise-connect/sdk/projects/15#card-38306501)

[Design in Progress](https://github.com/Enterprise-connect/sdk/projects/15#column-9208803)

[2020-05-15 17:13] ayasuda2OO3 commented on #98
@Simran0306

can it be more specific?

[2020-05-15 21:28] awaisbajwaml opened #99 "No command line help for ecagent_windows_sys.exe for the .yml file"
I was given the following two files [](url)

client-config1.yml
ecagent_windows_sys.exe

Contents of client-config1.yml file are below.

ec-config: conf: mod: client aid: VQkG10 tid: wRjT3X grp: local-aws-msk cid: corporate-sandbox-ec-preprod-client csc: ```<csc>``` dur: 3000 oat lpt: "7999" hca: "7000" dbg: true pxy:

when I run the below on windows shell:

I get an error

EC_Error

Main packae e

[2020-05-15 21:44] ayasuda2OO3 commented on #99
Thanks for the contribution, @awaisbajwaml

It seems the yaml file might have been mal-formatted. Often time we ran across a ```tab``` vs ```double spaces``` that had led us to many troubles whilst launching agent. Please verify again.

fyi hashed out the ```csc``` part in the content as this tracker is public-facing.

[2020-05-15 22:04] ramaraosrikakulapu commented on #99
@awaisbajwaml Can you please confirm you were using the command ```ecagent_windows_sys.exe -cfg client-config1.yml```

[2020-05-16 05:43] awaisbajwaml commented on #99
@ramaraosrikakulapu

Sorry for the confusion.

Actually I didn't use any -cfg parameter.

And here is the problem, the program should prompt the user and provide help about the command line parameters that it did not.

When I executed >>>ecagent_windows_sys.exe on the windows shell. It should prompt for the required -cfg parameter. That was missing.

Later I was told by the support person to use t

[2020-05-18 09:45] simran3695 opened #100 "Multiple SSH connections with single gateway instance and same server and client agent not working"
if we stop 2 out of 3 running GW’s, client – server communication is not re-established but getting a “bad handshake” error

[2020-05-18 13:56] ayasuda2OO3 commented on #100
Some QA will help resolve this issue-
1) what is the step(s) to "stop" the gateway instances, as specified, 2 out of 3?
2) is there a superconn remained, given 2 out of 3 are off?
3) did the "bad handshake" error happen during the current ssh session? or-
4) have you tried to establish a new ssh session, assuming a broken ssh session already in place?

Lastly, some logs/screenshots would be helpfu

[2020-05-18 14:57] ramaraosrikakulapu commented on #100
@ayasuda2003 .. @simran3695 created this issue based on demo session and here are the few more details -

- Run gateway in watcher mode in a VM with 3 instances
- Run the server agent with rpt 22 and it created super connection with all 3 gateway instances
- Run client on custom port and connection is fine
- Now bring down 2 gateway instances by killing the gateway containers by ```docker rm conta

[2020-05-18 15:24] ayasuda2OO3 commented on #99
@awaisbajwaml thanks for the suggestion. it seems the issue is resolved with the suggested flag ```-cfg```? We will review it and make improvements to the ux if necessary. Meanwhile, we will leave this issue open for next three days in case any further questions.

[2020-05-18 15:33] simran3695 commented on #98
During the demo we had one VM instance where watcher and 3 gateway instances were running. And we forcefully brought down one gateway instance to check if the watcher is able to bring it back by itself. But we din't saw it happen. So in such cases how can we ensure that all instances will be always active. And also if any one goes down how we will be notified.

[2020-05-18 15:40] ayasuda2OO3 commented on #98
Thanks for the detail. Understand we are trying to shutdown instances. What did we do to shutdown the instance(s)? or restart the container(s)? or to completely kill the container(s)? what was the cmd used to shutdown the instance(s)  this will help us to design a proper solution to the said issue. @simran3695

[2020-05-18 16:21] ayasuda2OO3 commented on #100
Thanks for the detail @ramaraosrikakulapu

The watcher currently adopts and implemented the OCI Runtime Spec. Removing a runtime container defeating the purpose of the self-recovery as one element of OCI container spec (restarting policy->always) That's also beyond the scope of the OCI container usage.

The **restarting policy->always** means as a OCI container, under any circumstances (memory lea

[2020-05-18 16:26] ayasuda2OO3 commented on #97
Fixed in [*2736 release](https://github.com/Enterprise-connect/sdk/releases/tag/v1.1beta.fukuoka.2736) Please confirm.

This issue will consider close in the next three days.

[2020-05-18 16:52] ayasuda2OO3 commented on #98
Close duplicate #100

[2020-05-18 16:52] #98 closed, assigned to ayasuda2OO3

[2020-05-21 19:22] ramaraosrikakulapu opened #105 "Watcher in multiple VM's"
Reference links -

[Aha](https://ge-dw.aha.io/features/DTEC-120)
[Rally](https://rally1.rallydev.com/#/346396871220d/detail/userstory/391605683204?fdp=true)
[Lucidchart](https://app.lucidchart.com/documents/edit/3f02a4cb-0c4d-46b3-a92a-f40a505004ec/zvdWm9k1abq8)

**Current state**: Able to run watcher in a VM with multiple gateway instances and successfully made end to end connection

**Target sta

[2020-05-23 16:08] ayasuda2OO3 commented on #100
Issue will close in next three day for the inactivity. @simran3695

[2020-05-23 16:08] #99 closed, assigned to ayasuda2OO3, ramaraosrikakulapu

[2020-05-23 16:12] ayasuda2003 commented on #96
feature request deferred to stakeholders.

[2020-05-23 16:20] ayasuda2OO3 commented on #105
please explain the use case. the watcher is per vm basis. @ramaraosrikakulapu

[2020-05-23 16:24] ayasuda2OO3 commented on #105
close for feature exists.

[2020-05-23 16:29] ayasuda2OO3 commented on #92
#95 close for duplication. Addressed in the release

[2020-05-23 16:29] #92 closed, assigned to ayasuda2OO3

[2020-05-23 16:32] ayasuda2003 commented on #89
close for duplicate #95

[2020-05-23 16:43] ayasuda2OO3 commented on #95
close duplicate #89

[2020-05-23 16:43] #95 closed, assigned to ayasuda2OO3, ramaraosrikakulapu

[2020-05-23 16:46] ayasuda2OO3 commented on #89
close duplicate #77

[2020-05-23 16:46] #89 closed, assigned to ayasuda2OO3

[2020-05-23 16:47] ayasuda2OO3 commented on #77
@ramaraosrikakulapu please share update.

[2020-05-23 16:50] ayasuda2OO3 commented on #88
Close due to the inactivity.

[2020-05-23 16:50] #88 closed, assigned to ayasuda2OO3

[2020-05-23 16:52] ayasuda2OO3 commented on #87
close due to inactivity

[2020-05-23 16:52] #87 closed, assigned to ayasuda2OO3, vrp0000, ramaraosrikakulapu

[2020-05-26 01:36] ramaraosrikakulapu commented on #77
Updating with latest status -

- End to end flow with watcher and gateway instances in one VM is working fine.
- Next target is to run watcher in multiple VM's and all gateway instances must register with EC service
- Server agent should have super connection with all gateways
- Client should able to make connection to target system via any gateway
- Connection should be seemless, even if any gate

[2020-05-26 01:37] ramaraosrikakulapu commented on #77
Updating the points discussed in teams -
- Removed all existing docker containers and EC network and started every thing fresh. Here are some findings from gateway list -
- Watcher is running with 3 gateway instances with URL - ws://x.x.1.120/vm1/agent
- All 3 gateway instances registered with EC service with diff gtwid's - xx:xx:xx:xx:10:01, xx:xx:xx:xx:10:02, xx:xx:xx:xx:10:00
- But predix gatew

[2020-05-26 18:09] ramaraosrikakulapu commented on #100
Here are my findings -

- Running the watcher with 3 gateway instances in a VM
- EC service registered all 3 gateway instances
- Tried to kill the gateway process from container with the following command -
[code]
- Still able to see the container and working normal
- From the conversations, we should not use ```docker rm container-id``` to verify the gateway recover functionality, as it is manual

[2020-05-26 19:00] ramaraosrikakulapu commented on #77
As per the discussion today, started running watcher in 2 VM's with one gateway instance each. But EC service is showing only latest gateway instance with same gtwId.

It looks to me, if watcher in VM1 restarts, EC service will show gateway running in VM1 and later if watcher in VM2 restarts, EC service is overriding with gateway in VM2.

[2020-05-26 19:11] ayasuda2OO3 commented on #77
Thanks for the finding. the key-value pair in the gateway list provisioned by the service api follows the below format-
[code]
In another word, the vm1 can only be replaced by vm2 when 1) the vms share a same mac address. && 2) The gateways share a same index.

It is very possible the gateways may use a same index (e.g. x1, x2, etc.) but it wouldn't make sense for the vms using an identical mac ad

[2020-05-26 19:26] ramaraosrikakulapu commented on #77
Yup.. Thats a valid point. My 2 VM's are running on boot2docker OS and should not share same mac address. Also mac address shown in EC service is not showing in ```ip a``` output

I will check why both VM's showing same mac address, OR I will use other VM with diff OS to run watcher.

[2020-05-27 03:25] ramaraosrikakulapu commented on #77
Here is the reason for same IPv6/mac address for gateways. All EC gateways are registering with container IPv6/mac address where gateway process is running, which are same when running from multiple VM's. In detail -
  - VM1 is running a watcher with 2 gateway instances and both are registering with IPv6/mac address of gateway containers instead of VM address
  - VM2 is replica of VM1 and running

[2020-05-27 04:13] ayasuda2OO3 commented on #77
Excellent findings and an acceptable solution @ramaraosrikakulapu Watcher has a built-in mac address arrangement in a situation when a container does not pre-configure itself based on the vm. Will incorporate the solution in the next pre-release. ETA for the fix 2-3 days.

[2020-05-27 05:37] #86 closed, assigned to Gayatri212

[2020-05-27 05:38] ayasuda2OO3 commented on #65
close relevant.

[2020-05-27 05:38] #65 closed, assigned to ramaraosrikakulapu

[2020-05-27 05:39] ayasuda2OO3 commented on #18
Closed resolved

[2020-05-27 05:39] #18 closed, assigned to nobody

[2020-05-27 05:41] ayasuda2OO3 commented on #4
Resolved in release [v212](https://github.com/Enterprise-connect/sdk/releases/tag/v1.hokkaido.212)

[2020-05-27 05:41] #4 closed, assigned to ayasuda2OO3

[2020-05-27 05:42] ayasuda2OO3 commented on #5
Closed fixed.

[2020-05-27 05:42] #5 closed, assigned to ayasuda2OO3

[2020-05-27 05:43] ayasuda2OO3 commented on #6
documented in agent FT usage.

[2020-05-27 05:43] #6 closed, assigned to ayasuda2OO3

[2020-05-27 05:44] ayasuda2OO3 commented on #7
addressed in [webui #1 release](https://github.com/Enterprise-connect/sdk/releases/tag/v1.1beta.webui.1)

[2020-05-27 05:44] #7 closed, assigned to ayasuda2OO3

[2020-05-27 05:46] ayasuda2OO3 commented on #8
in release.

[2020-05-27 05:46] #8 closed, assigned to ayasuda2OO3

[2020-05-27 05:47] ayasuda2OO3 commented on #9
In [usage document](https://github.com/Enterprise-connect/sdk/tree/v1.1beta/plugins/tls)

[2020-05-27 05:47] #9 closed, assigned to ayasuda2OO3

[2020-05-27 05:48] ayasuda2OO3 commented on #13
Removed due to dependencies.

[2020-05-27 05:48] #13 closed, assigned to ayasuda2OO3, palokam

[2020-05-27 05:48] #16 closed, assigned to nobody

[2020-05-27 05:49] ayasuda2OO3 commented on #17
Addressed in watcher releases.

[2020-05-27 05:49] #17 closed, assigned to ayasuda2OO3, palokam

[2020-05-27 05:49] #19 closed, assigned to ayasuda2OO3, palokam

[2020-05-27 05:49] ayasuda2OO3 commented on #21
closed due to inactive

[2020-05-27 05:49] #21 closed, assigned to ayasuda2OO3

[2020-05-27 05:51] ayasuda2OO3 commented on #42
in [OCI k8s usage docs](https://github.com/Enterprise-connect/oci/tree/v1.1beta/k8s)

[2020-05-27 05:51] #42 closed, assigned to ayasuda2OO3

[2020-05-27 05:52] ayasuda2OO3 commented on #43
in [OCI k8s docs](https://github.com/Enterprise-connect/oci/tree/v1.1beta/k8s).
[VLAN usage docs](https://github.com/Enterprise-connect/sdk/tree/v1.1/plugins/vln)

[2020-05-27 05:52] #43 closed, assigned to ayasuda2OO3

[2020-05-27 05:53] ayasuda2OO3 commented on #44
Closed addressed in [OCI](https://github.com/Enterprise-connect/oci)

[2020-05-27 05:53] #44 closed, assigned to ayasuda2OO3

[2020-05-27 05:54] ayasuda2OO3 commented on #69
In [WebUI release.1](https://github.com/Enterprise-connect/sdk/releases/tag/v1.1beta.webui.1)

[2020-05-27 05:54] #69 closed, assigned to Gayatri212

[2020-05-27 05:55] ayasuda2OO3 commented on #71
Closed In [OCI k8s Spec](https://github.com/Enterprise-connect/oci/tree/v1.1beta/k8s)

[2020-05-27 05:55] #71 closed, assigned to ayasuda2OO3

[2020-05-27 18:03] ramaraosrikakulapu commented on #77
Thanks @ayasuda2003 for working on the changes for configuring IPv6/mac addresses for containers. For now, I am following the additional step for creating the ```EC_Network``` manually and running the watcher in VM2. Here is my environment looks like -
  - VM1 running a watcher with 2 gateways with hst URL - ```ws://x.x.x.124/vm1/agent``` as suggested in [design ](https://app.lucidchart.com/docume

[2020-05-27 19:32] ayasuda2OO3 commented on #77
The server setting must follows the ```-hst``` field configured on the watchers. The ```-hst ws://x.x.x.124/agent``` configured on server implies lbcing the server traffic which does not serve the purpose as per design. Please update in usage. FYI the macaddr arrangement on watcher is WIP.

[2020-05-27 20:15] ramaraosrikakulapu commented on #77
It implies ```hst``` URL in server configuration must be ```ws://x.x.x.124/vm1/agent``` or ```ws://x.x.x.124/vm2/agent```.. correct @ayasuda2003 ?

[2020-05-28 04:58] ayasuda2OO3 commented on #106
Please provide an update @Gayatri212 if there is any. Thanks!

[2020-05-28 04:59] ayasuda2OO3 commented on #78
Please provide an update if any, otherwise will soon be closed due to the inactivity. Thanks! @ramaraosrikakulapu

[2020-05-28 13:07] Gayatri212 opened #107 "Modify field scope in UserDetails"
### Purpose
- To get multiple scopes from userDetail for providing access to UI

### What to do
- Currently the scope field in UserDetails is taking string value
- Modify this to array of string so that multiple scopes can be added for one user

[2020-05-28 16:40] ayasuda2OO3 commented on #107
Proposal accepted. In progress. @Gayatri212

[2020-05-28 19:07] ramaraosrikakulapu commented on #77
I am trying to run watchers with gateway URLs - ```ws://x.x.x.124/vm1/agent``` and ```ws://x.x.x.124/vm2/agent``` and following things can happen -
- Server agent at a time can connect to one watcher as it has to use ```ws://x.x.x.124/vm1/agent``` or ```ws://x.x.x.124/vm2/agent```
- Other option is "should run 2 server agents with diff agent id's in target env"  and each server agent will connect

[2020-05-28 19:13] ayasuda2OO3 opened #108 "Proposal: Launch Agent /w Encrypted Setting"
Currently the a plaintext io stream is required to launch the agent modes. Propose to read an encrypted setting and to launch agent with the in-memory setting, thus it leaves the settings without no trace as an enhancement to security measure in usage. @palokam

[2020-05-28 19:24] ayasuda2OO3 commented on #96
@simran3695 log files are currently grouped by the combination of modes (client,server, gateway, etc.) and timestamp. Inside a log file, each log line entry labeled by the instance# (x0,x1,..xn), if it were to launch by the watcher. Launch the agent individually is deprecated and placed by the watcher config. **Please share feedback**. If no feedback, this proposal may close in next couple of days

[2020-05-28 21:07] ayasuda2OO3 commented on #77
The prior aligns the current usage. The 2 server agents in the latter can both pointed to the same resource. The client traffic should be **guaranteed** to distribute evenly amongst the servers by the LBer.

[2020-05-28 21:16] ramaraosrikakulapu commented on #77
Can you please be more specific, how the ```hst``` URL supposed to be in watcher config and server config and how many servers to run when 2 watchers are running?

I believe client for sure will use ```ws://x.x.x.124/agent``` for making connections.

[2020-05-29 00:47] ayasuda2OO3 commented on #77
it had been [answered here](https://github.com/Enterprise-connect/sdk/issues/77#issuecomment-622608260)

Yes, your belief on the client setting is correct.

[2020-05-29 05:13] Gayatri212 commented on #106
@ayasuda2003 This task was in backlog due to some other priorities will start to work on this soon.
We are suggesting to use [boltdb](https://github.com/boltdb/bolt) for storage purpose, but before it trying to figure out few things like
1. Where should we store the CF creds required for create service and restage as they are currently stored in xcalr
2. Will boltDB be able to persist the info eve

[2020-05-29 16:59] palokam opened #109 "Make EC Gateway HA feature cloud agnostic"
see picture https://app.lucidchart.com/documents/edit/3f02a4cb-0c4d-46b3-a92a-f40a505004ec/6X6Wee5RtJ~x

[2020-05-29 17:17] ayasuda2OO3 opened #110 "Bug: Deploy Server Agents Across VMs"
### Use Case
Current key-value format for the agent superconn establishment as follows-

```agentId+refId+groupId```

It's very possible a superconn be replaced by one another from a different server Agent, which may revoke the server-agent HA, and cause the instability in the connectivity.

### Proposal
1) Find the root cause of the duplicate or co-existed superconns in the current behaviour. (v1

[2020-05-29 18:41] ayasuda2OO3 commented on #110
### Findings
1) In the prod release (v1.212) the refId used in the superconn which is the process#, hence no duplicate issue.
2) as for superconns, the process# is invisible in the health endpoint in the current prod release.
3) the refId assignment of the server inst is the intance# in the coming watcher release. watcher is designed as the replacement for the server agent for container scaling.

[2020-05-29 18:41] #110 closed, assigned to ayasuda2OO3

[2020-05-29 19:44] simran3695 commented on #96
Consider we have 2 EC client running on same machine one is A and other is B so if the log file for both is created as client_timestamp.log we won't be able to understand for which client that log is referring to. We need log file to generate as A-Client-timesstamp.log so that we know the log is for A EC Client agent.

[2020-05-29 21:21] ayasuda2OO3 commented on #96
@simran3695 @Simran0306 will the use case be access different resource each?

[2020-05-31 22:18] ramaraosrikakulapu commented on #77
(Updated on June 1)
Hi @palokam, From our discussion -

- We are going to have common gateway hst URL for all gateway's running across VM's as ```ws://x.x.x.124/agent``` and no more ```ws://x.x.x.124/vm1/agent``` or ```ws://x.x.x.124/vm2/agent```.

- Server agent have to make super connection with all gateway instances

- Client will choose any path based on load balancer rule.

Topology diagram:

[2020-05-31 23:13] ayasuda2OO3 commented on #109
### Use Case
In v1.1beta.2736 release, the combination of gateways/watcher is able to meet vm-level scaling however, the server is restricted to one vm to maintain the stability.

### Proposed Design
Propose the server watcher to have ability to recognise the gateway watcher(s) across networks-
1) have overall knowledge of the multi-group gateways' whereabouts,
2) establish the necessary number of

[2020-06-01 01:03] ramaraosrikakulapu opened #111 "Watcher is not considering EC_CSC env variable to launch"
Passphrase set to the env variable EC_CSC with the command ```export EC_CSC=passphrase-secret``` (passphrase-secret replaced with original secret)

Then trying to launch the watcher with the command ```./agent -cfg config.yml -wtr```, but still asking for passphrase

Expecting ```./agent -cfg config.yml -wtr``` command will read the value from EC_CSC env variable and proceed to launch watcher with

[2020-06-01 06:28] ayasuda2OO3 commented on #111
EC_CSC may only take the encrypted time-specific string generated by the agent. Notting the output of the encrypted string will expire in 20mins.

To ensure the un-interruption, you may schedule a job to overwrite the EC_CSC as following example-
[code]
An authenticated agent will renew the client_secret prior to the expiry.

[2020-06-01 14:11] ayasuda2OO3 commented on #109
### Added to the Design
4) aggregating the group of gateways, the group of server, by one resource. Restrict the group to access to one resource to prevent connection hijacking.

[2020-06-01 14:30] ayasuda2OO3 commented on #111
#### proposed usage
[code]

[2020-06-01 15:11] Gayatri212 opened #112 "OIDC Integration Use Cases"
### Goal
- To integrate GE SSO with EC WebUI

### Problem Statement
-  Currently using EC Oauth2 for webUI authentication, however it requires more integration efforts to be compatible with GE SSO

### Proposed Solution
- Integrate EC Oauth2 with GE specific SSO
- Create OIDC client
- Find endpoints for authorization and token along with domain
- Map EC WebUI DLs with specific scopes
- Modify User

[2020-06-01 15:18] Gayatri212 commented on #107
Closed due to duplicate. Track this here #112

[2020-06-01 15:18] #107 closed, assigned to ayasuda2OO3

[2020-06-01 20:07] ramaraosrikakulapu commented on #111
Thanks @ayasuda2003 . Now watcher is trying to start after passing the encrypted token. but facing a problem to launch watcher and I will track it [here](https://github.com/Enterprise-connect/oci/issues/6).

Also I have to create job for refresh it regularly.

Since the purpose of this issue is met and got the solution, I am closing this issue.

[2020-06-01 20:07] #111 closed, assigned to ayasuda2OO3, ramaraosrikakulapu

[2020-06-02 13:29] simran3695 commented on #96
both are my account, somehow i was not able to login with 0306 one and i had to create a new id.

[2020-06-02 13:31] Gayatri212 commented on #112
@ayasuda2003
Following are the fields that we get from OIDC user info
- cn
- country
- employeetype
- firstname
- gehrbusinesssegment
- gehrindustrygroup
- geHRjobid
- gessoaltemail
- gessobusinessunit
- gessocompanyname
- gessojobfunction
- lastname
- location
- mail
- mobile
- phonenumber
- state
- street
- title
- gevdsGroupIDmemberOf

[2020-06-02 13:43] ayasuda2OO3 commented on #77
The separate requirement is specified in #109 (HA across vms), please document this comment in #109 . This issue will close in next couple of days if no more activity

[2020-06-02 13:48] ayasuda2OO3 commented on #109
@simran3695 FYI

[2020-06-02 15:10] AakritiTalwar12 opened #113 "EC connection issue with test connection for Azure EC Gateway"
Hi Team,

As discussed in the last call I am trying to connect an on cloud rds instance from my local.
Please find below the details of the connection

1. Client Agent - Running on my local machine.
2. Gateway - on Azure instance
3. Server Agent - Running on AWS EC2 instance.

I have verified the rds instance is reachable from the server agent machine.
while trying to connect I get pending confirm

[2020-06-02 15:31] simran3695 commented on #96
As discussed, we would like to propose the log file name to <mode>.<groupname-of-agent>.<timestamp>.log

[2020-06-02 15:32] simran3695 commented on #96
As discussed, we would like to propose the log file name to (mode.groupname.timestamp.log).

[2020-06-02 19:19] #113 closed

[2020-06-03 14:30] ayasuda2OO3 commented on #109
### Added to the Design
5) Enable the built-in mac address arrangement in watcher to prevent a key-value duplicate in gatewaylist. #77 [see discussion](https://github.com/Enterprise-connect/sdk/issues/77#issuecomment-634417137)

[2020-06-03 14:31] ayasuda2OO3 commented on #77
Close for duplicate #109

[2020-06-03 14:31] #77 closed, assigned to ayasuda2OO3, ramaraosrikakulapu

[2020-06-03 14:35] ayasuda2OO3 commented on #96
Acknowledged. Solution in Progress.

[2020-06-04 20:27] ayasuda2OO3 commented on #112
@Gayatri212 could you share a sample response of this call?

[2020-06-05 01:47] Gayatri212 commented on #112
POST
https://fssfed.stage.ge.com/fss/as/token.oauth2?
grant_type=refresh_token&
refresh_token= G85kg-386h3Mbbfh9d&
redirect_uri= https://testSite/authRedirect.jsp&
client_id=test&
client_secret=xyz123xyz123xxxxXXxxx

Response:
{
token_type: "Bearer"
expires_in: 7199
refresh_token: "2nMV5WNXuH4RQGjEqTGXVvb2e6irsR7QkYUkceqKhq"
access_token: "VmQGGROr9X6GJ4dGaL8Pn4RIJJTs"
}

@ayasuda2003 this is the

[2020-06-05 03:32] ayasuda2OO3 commented on #112
thanks, I referred to the user info call under this endpoint /fss/idp/userinfo.openid. Please advise. @Gayatri212

[2020-06-07 06:41] ayasuda2OO3 commented on #112
Please disregard the question. I had it sorted out. The OIDC-like api does not appear to follow the standard. However, the field gevdsGroupIDmemberOf is required to convert to the local scopes, the type of this field fluctuates between string/array that it must be handled. Solution is in QA.

[2020-06-07 07:01] ayasuda2OO3 commented on #112
Please disregard the question. I had it sorted out. The OIDC-like api does not appear to follow the standard. However, the field gevdsGroupIDmemberOf is required to convert to the local scopes, the type of this field fluctuates between string/array that it must be handled. Solution is in QA.

Moreover, in the conf.yaml setting, the userId needs to be mapped to an OIDC identifier.

Reference:
[1] [

[2020-06-09 07:30] ayasuda2OO3 commented on #96
[In release #2737](https://github.com/Enterprise-connect/sdk/releases/tag/v1.1beta.fukuoka.2737) @Simran0306 @simran3695

[2020-06-09 07:31] ayasuda2OO3 commented on #112
[In release #2737](https://github.com/Enterprise-connect/sdk/releases/tag/v1.1beta.fukuoka.2737) @Gayatri212 please share feedback.

[2020-06-09 08:24] simran3695 commented on #96
Thankyou for the update.

[2020-06-09 12:27] ramaraosrikakulapu commented on #78
### Use case Scenario
- Deploy database high volumes of records in on prem
- Deploy gateway in multiple platforms (Predix, AWS and Azure)
- Run server and client agents with gateways from Predix, AWS and Azure

### Environment
- Deployed postgres database with 65400+ records
- Deployed multiple gateways in Predix CF3, AWS Power VPC and Corp Azure Subscription
- Running the server and client agents

[2020-06-09 12:28] ramaraosrikakulapu commented on #78
Closing the issue as results are updated.

[2020-06-09 12:28] #78 closed, assigned to ramaraosrikakulapu

[2020-06-10 01:31] ayasuda2OO3 commented on #108
Close [In release #2737](https://github.com/Enterprise-connect/sdk/releases/tag/v1.1beta.fukuoka.2737) @palokam

#### usage example
[code]

Reference:
https://gitlab.com/digital-fo/connectivity/enterprise-connect/platform-agnostic/agent/-/blob/v1.1beta/example-yml/config/crypto.yml#L53

[2020-06-10 01:34] #108 closed, assigned to ayasuda2OO3

[2020-06-10 01:35] #96 closed, assigned to ayasuda2OO3, Simran0306

[2020-06-10 01:38] ayasuda2OO3 commented on #100
Close for the clarity. @ramaraosrikakulapu @simran3695

[2020-06-10 01:38] #100 closed, assigned to ayasuda2OO3, ramaraosrikakulapu

[2020-06-10 01:41] ayasuda2OO3 commented on #106
The database persistency will require feature added (de-centralised) in agent. Move to agent release. Please create a separate tracker for the subscription management in webui. @Gayatri212

[2020-06-10 01:44] ayasuda2OO3 commented on #106
Need more in breakdown. Please help @Gayatri212

[2020-06-10 02:00] ayasuda2OO3 opened #114 "Email-Grant Authentication & Authorization"
#### Use Case
Add Email Grant Type to validate the ownership of the gateway instances for security enhancement.

#### Requirement
1) Agent bin.
2) [EC service 2.0 supporting SMTP.](https://github.com/Enterprise-connect/sdk/issues/117) @Gayatri212

#### To do:
1) Automating x509 keypair gen and cert issue process, currently in agent CLI.
2) [Provide HTTP endpoints in the domain security controller

[2020-06-10 02:04] ayasuda2OO3 commented on #114
@Gayatri212 can you create a separate tracker for the SMTP api implementation in the portal? Thanks!

[2020-06-29 20:23] ramaraosrikakulapu opened #115 "Unable to use v1.1 agent"
This is for a customer use case. Planning to run EC gateway under Corp Azure subscription and trying to launch gateway, but giving following error -

[code]

Verified the cert expiry and valid until Sep 2020.
[code]

This is not happening with 212 agent version

[2020-06-29 21:02] ayasuda2OO3 commented on #115
Acknowledged. In investigating.

[2020-07-03 01:50] ayasuda2OO3 commented on #115
Can you share the ```-sst``` setting in your test? @ramaraosrikakulapu

[2020-07-03 04:24] Gayatri212 commented on #115
@ramaraosrikakulapu did you add /v1 at the end of sst. For new version /v1 in case of v1.1 agent and /v1beta in case of v1.1beta agent version is required

[2020-07-04 18:36] ramaraosrikakulapu commented on #115
Good catch. Yes, I have to add /v1 at the end of ```sst``` flag. Thank you @ayasuda2003 @Gayatri212

[2020-07-04 18:36] #115 closed, assigned to ayasuda2OO3, Gayatri212, ramaraosrikakulapu

[2020-07-14 10:31] Gayatri212 opened #116 "Develop account management module(Automate Cert Process) in EC service 2.0"
1. Automate process of creating CSR and sign off CSR (Creating Accounts for user)
2. Managing Certs (CRUD operations for Accounts)
3. Store user info in the form of cert with EC service 2.0

[2020-07-14 10:31] Gayatri212 opened #117 "Develop Email module in EC service 2.0"
1. Implement email module (SMTP server) in EC service 2.0
2. Make this available as API for agent CLI

[2020-07-14 10:31] Gayatri212 opened #118 "Update EC agent(Gateway, server, client) configurations to incorporate email grant flow"

[2020-07-14 10:53] simran3695 opened #119 "EC Server not connecting to Gateway running on predix with 2737 v1.1beta version"
We have recently deployed the EC Gateway on Predix with 2737 v1.1beta version and on CF3 Service. The gateway is up and running but while attempting to run server with same 2737 version and connecting to predix gateway, the connectivity is not working. Below are the server logs:

Also not sure why the gateway url protocol is https instead of wss

2-dev.ice.predix.io/v1beta
 [EC Agent] loading appl

[2020-07-14 20:59] ayasuda2OO3 commented on #119
what does the ```-hst``` or ```conf.hst=<gateway-url>``` look like in the gateway chart spec? @simran3695 @sheshankgujjari

[2020-07-15 08:34] Gayatri212 commented on #119
@ayasda2003  The -hst in gateway is exactly same as -hst in server including wss:// and /agent but as per our testing we arrive to following conclusions
1. For gateway in ASW or running locally if we configure -hst flag as wss://gateway-url/agent it returns the same in gatewayList call but for gateway in predix(i.e. cf) even if we configure -hst as wss://gateway-url/agent the gatewayList call is r

[2020-07-17 14:50] ayasuda2OO3 commented on #119
Acknowledged. Release update scheduled.

[2020-07-17 15:01] ramaraosrikakulapu opened #120 "Gateway HA - Client unable to make connection to Server agents"
This is part of Gateway HA and related to the [issue](https://github.com/Enterprise-connect/sdk/issues/109).

**Scenario:**
- Gateway load balancer is running in VM with IP x.x.1.124
- Gateway instances are running in 2 VM's with ```hst``` URL - ws://x.x.1.124/agent
- Both gateway instances are registered with EC Service with diff refId's
- Server agent running fine and made super connection with

[2020-07-17 15:04] ramaraosrikakulapu commented on #120
Here are the logs for ref -

Client initiates the request -

[code]

Gateway1 picked the request -
[code]

Gateway2 logs just for ref -
[code]

Server logs -
[code]

[2020-07-21 20:05] ayasuda2OO3 opened #121 "Gateway IP Filter Mechanism Bypass via HTTP Headers"
#### GE Digital Security Vulnerability Report [3704]

[The report](https://csrc.apps.ge.com/Scans/Portal.aspx?tableId=10263&id=3704) had found that feature WhiteList/BlackList be vulnerable to Loopback addresses (localhost, 127.0.0.1, etc.)  it further recommended to limit the usage to a range of pre-defined proxy services to reduce the risk of illegal usage from abusers.

[2020-07-23 15:45] ramaraosrikakulapu opened #122 "EC Service response on decryption or validation fails"
**GE Digital Security Vulnerability Report [3702]**

This is part of the [security item or pen test result](https://ge.ent.box.com/folder/118511371275) for EC product.

EC Service is sending **EC_GRANT (“OK”)** from the end point ```/v1beta/reports/usage endpoint``` even though agent sends invalid or wrong public key for validation.

[2020-07-23 21:15] ramaraosrikakulapu opened #123 "Agent health is accessible over HTTP"
**GE Digital Security Vulnerability Report [3701]**

This is part of the [security item or pen test result](https://ge.ent.box.com/folder/118511371275) for EC product.

- Health page is available via HTTP and should accessible only from HTTPS.
- Should have some authentication mechanism to access the health page.
- Do not use UAA creds to authenticate health page

[2020-07-24 10:49] Gayatri212 opened #124 "File transfer functionality in EC client"
GE Digital Security Vulnerability Report [3703]

This is part of the security item or pen test result for EC product.

- Currently there is functionality available in EC client to upload/download file to/from the host where EC server is running
- This functionality may be misused by user with client script
- To avoid this add functionality in EC server to allow/deny file transfer by client
- Shoul

[2020-07-24 11:49] Gayatri212 opened #125 "Group Validation Bypass via EC config header manipulation"
GE Digital Security Vulnerability Report [3699]

This is part of the security item or pen test result for EC product.

- The agent(client/server) validation is done by checking aid, tid and groupid generated by service with {version}/admin/accounts/validate endpoint
- This endpoint takes the ids info as EC-config header in the request
- While making this request if the request is going through pro

[2020-07-27 18:53] ramaraosrikakulapu commented on #120
@ayasda2003 .. right now I am not not using any headers in lber configuration for redirecting the traffic to a specific gateway from load balancer.

While forwarding the client request to server agent, load balancer might not remember which gateway holds the client request and while server responding back, server agent should connect to same gateway and looks its not happening. Using a header can

[2020-08-03 14:38] ramaraosrikakulapu opened #126 "Unable to connect to oracle DB with windows VLAN"
Customer reported an issue as BOTS job running in AWS VPC is not connecting to a on premise oracle database with EC with Windows VLAN feature.

[2020-08-03 14:46] ramaraosrikakulapu commented on #126
Below are the points verified, referenced and fixed the problem -

- EC gateway is running in Power VPC and in a good condition
- Windows VLAN documentation referenced [here](https://github.com/Enterprise-connect/sdk/wiki/Windows-VLAN)
- EC server is running in on premise environment as per documentation and looks good
- EC client configured as per documentation
- Created local loop back adapter i

[2020-08-03 14:46] #126 closed, assigned to ramaraosrikakulapu

[2020-08-03 16:05] ramaraosrikakulapu opened #127 "SOA CS POC - Unable to connect to oracle database with EC VLAN"
Part of 'SOA CS' POC project, customer wants to connect to a on premise oracle database from oracle SOA. Connection not established with EC VLAN.

[2020-08-03 16:07] ramaraosrikakulapu commented on #127
Following are the steps and changes we made to make it working -

- Added ```-vln``` at the end of server script and restarted
- Added ```-plg -vln``` to the client script in both nodes and restarted
- Run EC client with sudo mode or root user
- Test connection with oracle scan ip and port

[2020-08-03 16:07] #127 closed, assigned to ramaraosrikakulapu

[2020-08-07 17:18] vrp0000 opened #128 "EC Service crashing frequently"
EC connection failing frequently with the below in the logs
"no gateway info found in list".
404 Not found:Requested Route to <zone-id> does not exist.
On checking further we found that EC service for a particular zone is crashing frequently.
Please check the cause of the crash of the service and a resolution for it

[2020-08-07 17:41] ayasuda2OO3 commented on #128
Thanks for the tracker. We acknowledged the issue,  will give update soon. WIP.

[2020-08-07 19:22] ayasuda2OO3 commented on #128
Action items:
1) identify the cause looking at the event in the CF,
2) scale up the service app.

@Gayatri212 @ramaraosrikakulapu

[2020-08-07 19:53] ramaraosrikakulapu commented on #128
- It is running with 3 instances so far and scaled up to 5
- Looked at the crash report and noticed every instance is getting crashed one time in a day. But minimum 2 instances are always running

[2020-08-13 13:36] Prakash-droid opened #130 "Unable to establish connectivity with AWS MSK from Onprem through EC"
We are facing an issue (ssl error in case of tls connectivity) while establishing the connectivity from on-prem to msk(kafka) cluster running as a service in AWS. Kindly help

Details from App Logs:
[2020-08-13 07:36:56,410] ERROR [Producer clientId=console-producer] Connection to node -1 (localhost/127.0.0.1:7989) failed authentication due to: SSL handshake failed (org.apache.kafka.clients.Networ

[2020-08-13 13:46] ayasuda2OO3 commented on #130
Is there a EC component(s) deployed in a k8s cluster? @Prakash-droid

[2020-08-13 14:37] Prakash-droid commented on #130
Nope, We are not using the one from K8S cluster. Server agent is on one of the EC2 sandbox.

[2020-08-13 15:40] Prakash-droid commented on #130
Additional Details on the components:
Source : alpcclappdvn01.corporate.ge.com(OnPrem)
Target : b-2.dc-kafka-poc-cloudwatc.ajz1qp.c1.kafka.us-east-1.amazonaws.com:9094(MSK)
EC Client on alpcclappdvn01.corporate.ge.com
EC Server on EC2 machine (10.242.49.20) (within the same VPC where AWS MSK service is running)
TLS Version [Rev:v1.hokkaido.212.tls]
EC Agent Version [v1.hokkaido.212]

[2020-08-14 05:24] ayasuda2OO3 commented on #128
@vrp0000 please share feedback. FYI This issue may be closed by the stale bot due to inactivity. @ramaraosrikakulapu @Gayatri212

[2020-08-14 09:53] Gayatri212 commented on #119
@ayasuda2OO3 Here are the details of issue replicated

#### Gateway Script
[code]

#### Server Script
[code]

#### Gateway Logs
[code]

#### Server Logs
[code]

- Here we can see in the script that in both gateway and server script -hst is exactly same.
- But if we see the response of gatewayList call from service it is giving CFUrl of gateway as https:// instead of wss:// and because of this mism

[2020-08-14 13:07] Gayatri212 commented on #130
@Prakash-droid can you share EC logs?

[2020-08-14 18:22] ayasuda2OO3 commented on #130
Upon the review of the usage, we notice that the kafka client producer is coerced to establish a TLS connection with the client agent (http://localhost/127.0.0.1:7989)

The client agent which deployed locally, is by default via the HTTP (Non-TLS) handshake. Please configure/disable your TLS usage in the kafka producer client end to mitigate the connectivity issue.

@Prakash-droid @EC-Release/contr

[2020-08-14 18:25] ayasuda2OO3 commented on #130
Upon the review of the usage, we notice that the kafka client producer is coerced to establish a TLS connection with the client agent (http://localhost/127.0.0.1:7989)

The client agent which deployed locally, is by default via the HTTP (Non-TLS) handshake. Please configure/disable your TLS usage in the kafka producer client end to mitigate the connectivity issue.

Reference:
https://github.com/EC

[2020-08-14 18:30] ayasuda2OO3 commented on #130
Upon the review of the usage, we notice that the kafka client producer is coerced to establish a TLS connection with the client agent (http://localhost:7989, http://127.0.0.1:7989)

The client agent which deployed locally, is by default via the HTTP (Non-TLS) handshake. Please configure/disable your TLS usage in the kafka producer client end to mitigate the connectivity issue.

Reference:
https://

[2020-08-17 08:02] Prakash-droid commented on #130
[ScriptandLogInfo.txt](https://github.com/EC-Release/sdk/files/5082922/ScriptandLogInfo.txt)

[2020-08-17 08:07] Prakash-droid commented on #130
We are trying to connect to 9092 (PLAINTEXT). I have captured the logs and attached to the ticket.Please verify.

./kafka-console-producer.sh --broker-list localhost:7989 --topic corp_item_topic
[2020-08-17 13:35:07,831] INFO ProducerConfig values:
        acks = 1
        batch.size = 16384
        bootstrap.servers = [localhost:7989]
        buffer.memory = 33554432
        client.dns.lookup = d

[2020-08-17 15:41] Gayatri212 commented on #130
After disabling the TLS following are the client application logs
[code]

[2020-08-17 15:51] ayasuda2OO3 commented on #130
@Prakash-droid @Gayatri212

Could you share the server log? a snippet of the latest connectivity should be just fine.

[2020-08-21 22:31] #112 closed, assigned to ayasuda2OO3, Gayatri212

[2020-08-21 22:31] #116 closed, assigned to ayasuda2OO3, Gayatri212

[2020-08-21 22:31] #117 closed, assigned to ayasuda2OO3, Gayatri212

[2020-08-21 22:31] #118 closed, assigned to ayasuda2OO3, Gayatri212

[2020-08-24 19:17] ramaraosrikakulapu opened #133 "File transfer between clouds"
**Requirement Background:**
DC team got a requirement to test the latency for transferring files between multiple clouds like AWS and Azure.

Zameer created an EC SFTP connection with fuse mode and tried to copy files with various sizes and below are the metrics captured.

![a77b0318-b961-428c-86ca-9ca7e41f4d96](https://user-images.githubusercontent.com/38732583/91086006-43409480-e61c-11ea-9773-21

[2020-08-25 05:22] ayasuda2OO3 commented on #133
Thanks for the writing up. @ramaraosrikakulapu It seems to be a common interest to go to a great extent in elaborating this performance tracker. Thus, my intention is for us to set an reachable expectation and/or creating a plan/goal beginning with the following questions-

1) Was a http proxy service used in this test?
2) In this supposed side-to-side test, what was the protocol tasked in the eve

[2020-08-25 05:28] ayasuda2OO3 commented on #133
Thanks for the write up. @ramaraosrikakulapu it is a common interest to go to a great extent in elaborating a performance tracker one like this. Therefore my intention is for us to set an reachable expectation and/or creating a plan/goal beginning with the following questions-

1) Was a http proxy service used in this test?
2) In this supposed side-to-side test, what was the protocol tasked in the

[2020-08-27 09:13] Gayatri212 commented on #130
This issue is resolved by following action
- By updating /etc/hosts file with the target node names

[2020-08-31 06:59] #128 closed, assigned to ayasuda2OO3, Gayatri212, ramaraosrikakulapu

[2020-09-08 13:12] Gayatri212 commented on #130
The issue is resolved

[2020-09-08 13:12] #130 closed, assigned to ayasuda2OO3, Gayatri212, ramaraosrikakulapu

[2020-09-10 15:06] ramaraosrikakulapu opened #136 "EC Server HA"
**Requirement:**

Run end to end connection check with following environment and update the test results -

**Agent version** - v1.hokkaido.212, v1.1beta.fukuoka.2730, v1.1beta.fukuoka.2731, v1.1.edo.0
**EC Server** - Multiple agents with HA
**EC Client** - Single client
**EC Gateway** - Predix env

[2020-09-10 20:48] ramaraosrikakulapu commented on #136
Here are the results -

Steps | Agent | Server1 | Server2 | Client | Super connection | Connectivity from client | Action | Notes
-- | -- | -- | -- | -- | -- | -- | -- | --
1 | 212 | Running | Running | Running | Established with 2 servers | Working |   |  
2 | 212 | Stopped | Running | Running | Established with 1 server | Working | Server1 stopped |  
3 | 212 | Running | Stopped | Running | Esta

[2020-09-17 14:33] ramaraosrikakulapu commented on #136
Closing this issue as results are updated. Please feel free to let product team know for any questions. Thanks you !!

[2020-09-17 14:33] #136 closed, assigned to ramaraosrikakulapu

[2020-09-17 14:42] ramaraosrikakulapu opened #137 "v1.213 release tracker"
This is to tracking the action item for releasing the agent version v1.213. Below are the functionalities we are planning to add -

- Proxy changes
- Server HA as in v1.212
- Security remediations

[2020-10-15 13:23] Gayatri212 opened #138 "v1beta Gateway not working with updated cf3 certs"
- After cert update of cf3 v1beta(1725 and 1724) gateway is failing with following logs
[code]

- v1.1beta gateway is working fine

[2020-10-15 18:05] simran3695 opened #139 "AWS Gateway with proxy setting for version 212"
We have currently seen an issue where EC Server running on On-prem are not able to connect to EC Gateway running on AWS (EKS Cluster). and etting below error:

[EC Server] 2020/10/15 13:36:37 [cleaned up logging file(s). connectivity.log plugin.log]
 [EC Server] 2020/10/15 13:36:37 [Rev: v1.hokkaido.212]
 [EC Server] 2020/10/15 13:36:37 [Agent websocket compression is being negotiated at level 0]

[2020-10-15 19:18] ayasuda2OO3 commented on #139
duplicate tracker #137 @simran3695 @ramaraosrikakulapu @palokam

[2020-10-21 18:12] ramaraosrikakulapu opened #140 "Connecting to SQL Server"
This is to document an experience with a customer for connecting to a on prem SQL Server database.

- Target System: On prem SQL Server database
- Agent version: v1.1beta.fukuoka.2725
- Gateway: In predix
- EC Server: On prem
- EC Client: Linux VM in AWS VPC
- Client app: TC running in container in linux VM where EC client deployed

Server agent using the DB host name as ```rht``` and port ```1433

[2020-10-21 18:12] ramaraosrikakulapu commented on #140
_Resoultion:_
1433 is port for SQL Server in general but not always. So get the right port number as follows -
- Connected to the DB from VS code tool in 'on prem' network, which not required to give the port number
- Run ```netstat``` command to get the right port number in terminal with db ip address -
[code]
- Change the ```rpt``` port number to 54715

[2020-10-21 18:12] #140 closed, assigned to ramaraosrikakulapu

[2020-11-05 14:49] Gayatri212 opened #142 "Service1.x update script"
- Add remote script to update existing cf service to service1.x
- The input should be zone id of service
- Script should be able to fetch details, delete existing service app instance and push updated service

[2020-11-27 08:00] pragyan111 opened #146 "FusedModeSever database connection not working using 212 binary using VPN"
Not able to establish database connection for fusedmodeserver using 212 binary with VPN(-pxy)
1. gw:server is listening on the fuse-mode port# 8080 (On running gw-server.bat)
2. client is listening on port# 7999 (On running client.bat)
3. On making database connection getting issue as : _Unable to connect to server:
server closed the connection unexpectedly
This probably means the server terminate

[2020-11-30 14:53] ayasuda-ge commented on #146
Issue acknowledged. Fix in progress.

[2020-12-03 05:15] ayasuda-ge commented on #146
Please verify the fix with this release [v1beta.1728](https://github.com/EC-Release/sdk/releases/tag/v1beta.fukuoka.1728) @Gayatri212 @pragyan111

[2020-12-10 22:30] ramaraosrikakulapu opened #149 "Unable to deploy gateway in cloud foundry - build pack error"
Unable to deploy gateway in cloud foundry and getting the build pack error

[2020-12-10 22:32] ramaraosrikakulapu commented on #149
Issue resolved by updating with right build pack in manifest.yml -
[code]

[2020-12-10 22:32] #149 closed, assigned to ramaraosrikakulapu

[2021-03-26 12:21] ramaraosrikakulapu opened #161 "Fix vulnerabilities in Spring boot example"
Ref link for more details on vulnerabilities -

https://github.com/Enterprise-connect/ec-springboot-II-sample-app/security/dependabot

[2021-03-26 14:40] ramaraosrikakulapu commented on #161
Fixed and found no issues -
![image](https://user-images.githubusercontent.com/38732583/112648248-b531c400-8e1f-11eb-85e0-c4db2f383cea.png)

[2021-03-26 14:40] #161 closed, assigned to ramaraosrikakulapu

[2021-05-03 15:23] ayasuda-ge opened #163 "Agent 1.x health probing issue"
As Ops agent, I need to resolve the k8s health probing performance issue specified in [the serviceNow incident](https://geit.service-now.com//nav_to.do?uri=problem.do?sys_id=83e3c734dbff2890fb81ec73ca961923).

As developer, I need to have an extra HTTP endpoint to[1] reduce the resource (CPU/Mem) consumption for usage calculation  [2] meet the k8s resource threshold spec.

[2021-05-12 13:19] ramaraosrikakulapu opened #164 "Decryption failed error: v1.213"
@pragyan111 is trying to run v1.213 agent binary in docker container and getting the decryption failed error.

Below is the command used  -

[code]

[2021-05-17 13:14] ramaraosrikakulapu commented on #163
Agent code changes are done and beta version [v1beta.fukuoka.1729](https://github.com/EC-Release/sdk/tree/v1beta.fukuoka.1729/dist) released. Deployed beta agent in CI clusters and running fine so far.

[2021-05-18 18:01] ramaraosrikakulapu commented on #164
Below are the steps to use `v1.hokkaido.213` agent binary with `docker run` command -

- Download `tengu` binary from https://github.com/EC-Release/tengu/tree/1.2-rc.0.reiwa/dist/tengu

- Get your certs and execute the command below for release version -
[code]
  Enter developer account passphrase when requested. Command will generate owner hash and is valid for 20 mins.
  Note: Please make sure y

[2021-05-20 17:11] ramaraosrikakulapu commented on #164
KT given to the team and will help if needed.

[2021-05-20 17:11] #164 closed, assigned to ramaraosrikakulapu

[2021-07-01 20:45] ramaraosrikakulapu opened #167 "Update the beta remote script to align with new agent version"
Remote script update for beta agents to align with new version number format - "1.0.0-b.*"

[2021-07-22 19:22] ayasuda-ge opened #170 "- User Guide Needed"
As a new EC user, I would like to understand how to deploy and to use EC connectivity as-a-service, so that it would apply in my business use case.

[2021-09-03 13:03] ramaraosrikakulapu commented on #170
Created [PR](https://github.com/EC-Release/sdk/pull/171) for user guide with initial version. Please feel free to add comments for betterments. @ayasuda-ge @Puja129

[2021-09-03 15:19] ramaraosrikakulapu commented on #167
Changes made and merged for [beta](https://github.com/EC-Release/sdk/pull/166) and [release](https://github.com/EC-Release/sdk/pull/169) versions.

[2021-09-03 15:19] #167 closed, assigned to ramaraosrikakulapu

[2021-09-03 15:21] ramaraosrikakulapu commented on #137
Agent 213 is released and stabilized.

[2021-09-03 15:21] #137 closed, assigned to ramaraosrikakulapu, ayasuda-ge

[2021-09-03 15:22] ramaraosrikakulapu commented on #123
Pentest changes are done got sign off from team.

[2021-09-03 15:22] #123 closed, assigned to ayasuda2OO3, ramaraosrikakulapu

[2021-09-03 15:41] ramaraosrikakulapu commented on #120
Closing the issue as Gateway HA implemented and in use by customers

[2021-09-03 15:41] #120 closed, assigned to ayasuda2OO3, ramaraosrikakulapu

[2021-09-03 15:43] ramaraosrikakulapu commented on #122
Implemented and delivered part of Security Remediation Items project

[2021-09-03 15:43] #122 closed, assigned to ayasuda2OO3, ramaraosrikakulapu

[2021-09-03 16:42] ramaraosrikakulapu opened #172 "DPOD Maximo Integration - Phase2"
An external customer needs to consume API running from predix env. Please find high level data flow diagram [here](https://lucid.app/lucidchart/e0b8828a-9b12-4843-9df5-7b25120ccca0/edit?page=JX6JHMJEfXUm#)

[2021-09-03 16:42] ramaraosrikakulapu opened #173 "Postgres instances upgrade"
Upgrade the CF postgres instances to 12

[2021-10-18 00:53] ramaraosrikakulapu opened #179 "'no gateway info found in the list' error in EC server logs"
EC Server agent running in subscription ddf79094-xxxx-xxxx-xxxx-xxxxx9cbfc1f giving the following error -

[code]

[2021-10-18 00:57] ramaraosrikakulapu commented on #179
Identified `glist` is becoming empty for every few seconds.

The error `no gateway info found in the list` because of some untracked ‘ghost’ server agents. We have to stop this agent to make the subscription operational.

[2021-10-18 01:58] palokam commented on #179
I’m not sure about the root cause let us discuss this in the grooming call or later in the day tomorrow

Thanks
-Prasad

On Oct 17, 2021, at 8:57 PM, ramaraosrikakulapu ***@***.***> wrote:

﻿

Identified glist is becoming empty for every few seconds.

The error no gateway info found in the list because of some untracked ‘ghost’ server agents. We have to stop this agent to make the subscription ope

[2021-10-20 15:43] ayasuda-ge commented on #179
Please refer to the [document/solution](https://spo-mydrive.ge.com/:o:/g/personal/212359746_ge_com/ElLLpJEbi2xLlVPDDxLUke4BhQw5Sd5XcBwlUTt4e4q1tg?e=nNvfcD)

[2021-10-20 15:44] #179 closed, assigned to Puja129, ramaraosrikakulapu, ayasuda-ge

[2021-10-28 14:42] HimanginiRaj opened #187 "Invalid cert issuer error"
Hi Team,

We are getting below error for our AOA Non Prod EC Server agent.

[EC Server] 2021/10/28 10:37:17 [github.build.ge.com/212359746/wzconf.(*Config).GetEncryptedKey.func1.1 invalid cert issuer.]
 [EC Debug] 2021/10/28 10:37:17 []interface {}=>[{"glist":{},"data":null}]
 [EC Debug] 2021/10/28 10:37:17 []interface {}=>[service decryption failed: no encrypted data specified in the response. 0x

[2021-10-28 18:10] ramaraosrikakulapu commented on #187
Summary of MoM -

- Part of cert migration bg-step1, cloned application created fine
- But network route still mapped to old instance, which should reroute to newer instance as part of bg-step2
- Rerouted the traffic manually to new new instance xxxx-2022.run.aws-usw02-pr.ice.predix.com
- Requested team to restart all server and gateway agents and it should solve the problem

[2021-10-29 16:04] HimanginiRaj commented on #187
Thanks Ram for the resolution!!

From: ramaraosrikakulapu ***@***.***>
Sent: Thursday, October 28, 2021 11:40 PM
To: EC-Release/sdk ***@***.***>
Cc: Raj, Himangini (GE Digital, consultant) ***@***.***>; Author ***@***.***>
Subject: EXT: Re: [EC-Release/sdk] Invalid cert issuer error (Issue #187)

Summary of MoM -

  *   Part of cert migration bg-step1, cloned application created fine
  *   But net

[2021-10-29 18:09] HimanginiRaj opened #188 "Error in EC Server Log"
Hi Team,

We are getting below error in one of dev power EC server log. Please suggest.
Zone ID : 6d24c74c-****-****-****-6846dd61b3c5
Gateway : wss://power-*****.run.aws-usw02-pr.ice.predix.io/agent

 [EC Server] 2021/10/29 14:01:34 [client#vskV22 requests connection with the bind id#qnQoNYFsne.]
 [EC Server] 2021/10/29 14:01:34 [github.build.ge.com/212359746/wzcore.(*Server).addServerInst.func1

[2021-10-29 18:36] ramaraosrikakulapu commented on #188
@HimanginiRaj .. This is similar to other scnarions we had found recently. Please check for unused(ghost) server agents and restart them.

We had documented the possible solutions for this issue [here](https://spo-mydrive.ge.com/personal/212359746_ge_com/_layouts/15/Doc.aspx?sourcedoc={91a4cb52-8b1b-4b6c-9553-c30f12d491ee}&action=edit&wd=target%28Quick%20Notes.one%7Ce60f97b9-445a-40fa-92a4-f5762c7

[2021-10-29 20:42] ramaraosrikakulapu opened #189 "Deploy EC client in EKS with 213"
Creating this on behalf of ops team. Here are the information shared -

- EC Client is deployed in EKS only with 212 and need to change it to 213
- Update the deployment spec with other helm versions

[2021-10-29 20:46] ramaraosrikakulapu commented on #189
`agentRev` is the property to customize the agent version in EKS environment. It is being used for gateway configuration, but missed for client configuration.

**Note**: Identified team is using the custom URL for 213 binary instead of decrypting with `hash`

[2021-10-29 20:47] ramaraosrikakulapu commented on #189
Closing the issue as issue resolved and able to deploy EC client with 213

[2021-10-29 20:47] #189 closed, assigned to nobody

[2021-10-29 20:54] ramaraosrikakulapu commented on #173
4 Instances were upgraded and 4 unused instances were decommissioned.

Decommissioned instances -
ec-int-test-postgres2 (CF3)
perrin-postgres-2.0 (CF3)
ec-int-test-postgres2-2 (CF3)
EdPostgres (CF3)

Upgraded instances -
pwof-test-pg2.0 (CF3)
ec-team-postgres (EU)
Demo-Postgres (CF1)
tc-pgdb (CF1)

[2021-10-29 20:54] ramaraosrikakulapu commented on #173
Closing the issue as activity is done

[2021-10-29 20:54] #173 closed, assigned to ramaraosrikakulapu

[2021-10-29 20:55] ramaraosrikakulapu commented on #172
As of 29 Oct 2021, Dev and Stage environments are implemented and tested end to end from client network.

[2021-10-31 23:19] #187 closed, assigned to nobody

[2021-11-03 14:34] Uthappa-AR opened #191 "Getting "no content" error while creating new Agents"
While creating new EC Agents we are Getting "no content" error, while using POST Call.

[2021-11-03 18:00] ramaraosrikakulapu commented on #191
Upon the initial investigation -

- Swagger API is unable to execute the API's
- Same API are running fine with curl command

[2021-11-04 18:37] ramaraosrikakulapu commented on #191
Please reopen the issue, if the problem still exists

[2021-11-04 18:37] #191 closed, assigned to nobody

[2021-11-05 18:04] ramaraosrikakulapu opened #193 "DPOD Stage connection issue"
Customer had reported an outage in stage environment for 'DPOD-DTE Maximo integration phase 2'

[2021-11-07 14:51] ramaraosrikakulapu commented on #193
Identified the server agents are down. Connections are back to normal after starting the agents. Requested ops team to make sure to enable the monitoring scripts to restart automatically.

[2021-11-07 14:51] #193 closed, assigned to nobody

[2021-11-08 15:17] ramaraosrikakulapu opened #194 "Wabtec-Gecars integration production issue"
Customer had scheduled a call to investigate the production issue for connecting to 'Wabtec database'.

[2021-11-08 15:20] ramaraosrikakulapu commented on #194
Upon the initial investigation,
- EC server agent and EC client pods are running fine
- TC is throwing 'TNS: listener does not currently know of service requested in connect descriptor'
- Requested Gecars team to reverify the DB details with wabtec

[2021-11-08 18:12] ramaraosrikakulapu commented on #194
Identified there was an outage happened on target system (database) this weekend and required to make some changes in EC server script.

Wabtec team made required changes and restarted the EC server. Connection are now back to normal and confirmed by customers.

[2021-11-08 18:13] #194 closed, assigned to nobody

[2021-11-08 18:13] ramaraosrikakulapu commented on #172
UAT testing in progress and discussion initiated on Nov 3 for prod env setup.

[2021-11-16 10:34] sannuuth opened #196 "While creating new EC Agents we are Getting "no content" error, while using POST Call."

[2021-11-16 13:48] ramaraosrikakulapu commented on #196
@UthappaAR .. As per the email communication.. I see you were trying to create new groups and agent id's from the EC service. But you are unable to do it from from swagger API.

Can you please try to execute the same command with `curl` command and share the result?

[2021-11-16 14:10] sannuuth commented on #196
@ramaraosrikakulapu ..we tried running the curl command we are getting below error
**curl: (35) schannel: failed to receive handshake, SSL/TLS connection failed**

[2021-11-16 14:47] sannuuth commented on #196
@ramaraosrikakulapu thank you so much, now I'm able to create agent

[2021-11-22 11:52] sannuuth opened #197 "Getting Gateway G List Empty issue"

[2021-11-22 12:09] sannuuth commented on #197
Please provide us Permanent Fix on this issue

[2021-11-23 03:58] ayasuda-ge commented on #197
close without any references/documents.

[2021-11-23 03:58] #197 closed, assigned to nobody

[2021-11-23 16:39] ramaraosrikakulapu commented on #197
Aha [idea](https://ge-dw.aha.io/ideas/ideas/DTEC-I-107) created for the same.

[2021-11-23 16:42] ramaraosrikakulapu commented on #196
Issue resolved for the instance. However permanent solution to be implemented to "unmap the additional route *-2022 for all service instances".

[2021-12-08 19:50] #170 closed, assigned to Puja129, ramaraosrikakulapu, ayasuda-ge

[2021-12-20 13:57] ramaraosrikakulapu opened #200 "Windows VLAN client with proxy settings in VPC"
**Scenario**: Customer had reported an issue for 'Connection failure' for windows VLAN

[2021-12-20 14:25] ramaraosrikakulapu commented on #200
Upon the discussion here is the arch diagram for the use case -

![Untitled Diagram](https://user-images.githubusercontent.com/38732583/146778637-3e103dcb-8527-40a5-9cf1-289f3e5e4809.png)

 - EC Server is running from a VPN and connecting to target resource. VPN network is secured with proxy for connecting to public network.
 - EC gateway is running from and AWS VPC (AWS VPC - 2), where all EC gat

[2021-12-20 14:25] #200 closed, assigned to ramaraosrikakulapu

[2021-12-23 14:17] Mayuri-GE opened #201 "Errors in ArgoCD for Preprod ECs"
We are seeing below error in ArgoCD for all the Preprod ECs. Please let us know if any action required from our end.

ERROR:
rpc error: code = Unknown desc = Manifest generation error (cached): `helm template . --name-template perceptive-tc-sftp-ec-clt-dev-aws --namespace ec-perceptive --kube-version 1.18 --values aws-dcc-preprod-values.yaml --api-versions admissionregistration.k8s.io/v1 --api-ver

[2021-12-23 14:35] ramaraosrikakulapu commented on #201
@Mayuri-GE .. Can you please share the link for configuration?

[2021-12-23 14:39] Mayuri-GE commented on #201
@ramaraosrikakulapu Please find below configuration link
https://github.build.ge.com/digital-connect-devops/ec-corp-argo-cd-apps/tree/master/ec-corp-dev/corp-email-smtp-client

[2021-12-23 15:58] ramaraosrikakulapu commented on #201
@Mayuri-GE .. Seems like project created about 17 days back and no changes to configuration later and configuration looks good.

Also I see transactional logs in pods for EC client. So can you please tell me, is this running fine before? And what actions we are trying to make today?

[2021-12-23 16:49] Mayuri-GE commented on #201
@ramaraosrikakulapu This error we are observing for almost all the ECs running on EKS preprod. Few users reported this issue stating, there is connectivity glitch since yesterday. We are not committing any new changes but the existing connectivity is not working.

[2021-12-23 16:59] ramaraosrikakulapu commented on #201
It sounds to me.. there is some issue with the env. But in order to confirm, please run the EC client outside of EKS env and check if connectivity works.

[2021-12-30 17:32] ramaraosrikakulapu commented on #201
Closing the issue as issue identified with env and solved.

[2021-12-30 17:32] #201 closed, assigned to nobody